<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a [routerLink]="['/dashboard']" routerLinkActive="router-link-active" class="site_title"><i class="fa fa-home"></i> <span>Pedidos on-Line</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <app-profile-menu></app-profile-menu>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <app-sidebar></app-sidebar>
                <!-- /sidebar menu -->

                <!-- /menu footer buttons -->
                <app-footer-buttons></app-footer-buttons>
                <!-- /menu footer buttons -->
            </div>
        </div>

        <!-- top navigation -->
        <app-header></app-header>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <router-outlet></router-outlet>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <app-footer></app-footer>
        <!-- /footer content -->
    </div>
</div>
<app-modal-upload></app-modal-upload>