<div class="x_panel">
    <div class="x_title">
        <h2>Estatus</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- Product:FORM:init -->
        <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('name').valid && form.get('name').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="name" type="text" required="required" class="form-control" placeholder="Nombre" maxlength="20">
                                <div *ngIf="form.controls['name'].errors?.required" class="alert">Nombre requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('order').valid && form.get('order').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="order">Orden <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="order" type="number" required="required" class="form-control" placeholder="Orden" maxlength="2" max="99" min="1">
                                <div *ngIf="form.controls['order'].errors?.required" class="alert">Orden requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('color').valid && form.get('color').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="color">Color</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select formControlName="color" class="form-control">
                                    <option value="red" >Rojo</option>
                                    <option value="gree">Verde</option>
                                    <option value="blue">Azul</option>
                                    <option value="blue-sky">Azul Cielo</option>
                                    <option value="dark">Negro</option>
                                    <option value="orange">Naranja</option>
                                    <option value="purple">Morado</option>
                                    <option value="primary">Primario</option>
                                    <option value="success">Exitoso</option>
                                    <option value="danger">Error</option>
                                    <option value="info">Info</option>
                                    <option value="warning">alerta</option>
                                </select>
                                <div *ngIf="form.controls['color'].errors?.required" class="alert">Color requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('next').valid && form.get('next').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="next">Siguiente Paso</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select formControlName="next" class="form-control">
                          <option  *ngFor="let item of status" value="{{ item._id }}" >{{ item.name }}</option>
                      </select>
                                <div *ngIf="form.controls['next'].errors?.required" class="alert">Siguiente paso requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('message').valid && form.get('message').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="message">Título del Botón <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="message" type="text" required="required" class="form-control" placeholder="Orden" maxlength="20">
                                <div *ngIf="form.controls['message'].errors?.required" class="alert">Título requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('type').valid && form.get('type').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Tipo</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <select formControlName="type" class="form-control">
                          <option *ngFor="let item of counter" value="{{ item._id }}" > {{ item.name }} </option>
                      </select>
                                <div *ngIf="form.controls['type'].errors?.required" class="alert">Tipo requerido</div>
                            </div>
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="buttom">Acciones adicionales</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select formControlName="buttom" class="form-control" multiple="multiple">
                                <option *ngFor="let item of status" value="{{ item._id }}" > {{ item.name }} </option>
                            </select>
                        </div>
                    </div>
                    <div class="item form-group" [ngClass]="{ 'bad': !form.get('role').valid && form.get('role').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Rol</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select formControlName="role" class="form-control" multiple="multiple">
                                <option *ngFor="let item of role" value="{{ item._id }}" > {{ item.name }} </option>
                            </select>
                        </div>
                        <div *ngIf="form.controls['role'].errors?.required" class="alert">Rol es requerido</div>
                    </div>
                    <div class="item form-group" [ngClass]="{ 'bad': !form.get('role').valid && form.get('role').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="addProduct">Agregar Productos</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select formControlName="addProduct" class="form-control" multiple="multiple">
                                <option *ngFor="let item of role" value="{{ item._id }}" > {{ item.name }} </option>
                            </select>
                        </div>
                        <div *ngIf="form.controls['role'].errors?.required" class="alert">Rol es requerido</div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="showStock">Mostrar el Stock</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="showStock" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="edit">Editar El documento </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="edit" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="delivery">Formulario de Envío</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="delivery" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deleteDetailInZero">Eliminar productos cuando estan en 0</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="deleteDetailInZero" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deleteDetailInZero">Eliminar productos que no se desconto del Stock</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="deleteDetailInZero" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="billAssociated">Ver formualrio de Facturas</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="billAssociated" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="billShow">Lista de Facturas</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="billShow" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="validBill">Validar facturas</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="validBill" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="billForm">Formulario de Facturas</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="billForm" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="deleteDetailNoInventory">Eliminar Productos No Esta Inventario</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="deleteDetailNoInventory" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="applyDiscount">Aplicar Descuentos</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="applyDiscount" type="checkbox" class="flat">
                        </div>
                    </div>
                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Estado <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="status" type="checkbox" class="flat">
                        </div>
                    </div>
                </div>

                <button class="btn btn-primary" type="button" [routerLink]="['/status']">Nuevo</button>
                <button type="submit" [disabled]="form.invalid" class="btn btn-success">Guardar</button>
            </div>
        </form>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Estatus Existentes</h2>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-4 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" #data class="form-control" (keyup)="search( data.value )" placeholder="buscar por...">
                    <span class="input-group-btn">
                          <button class="btn btn-default" type="button" (click)="search( data.value )"><i class="fa fa-search"></i></button>
                        </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- <p class="text-muted font-13 m-b-30">
          Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
      </p> -->

        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Orden</th>
                    <th>Status</th>
                    <th>Edición</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{ item.name }} </td>
                    <td>{{ item.order }} </td>
                    <td>
                        <a class="btn btn-success" *ngIf="item.status" (click)="inactive( item._id, item.status )"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger" *ngIf=" !item.status " (click)="active( item._id, item.status )"><i class="fa fa-remove"></i></a></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/status', item._id ]"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                Total: ({{ totalRecords | number }})
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(-10) " class="btn btn-block btn-default ">Anterior</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(10) " class="btn btn-block btn-default ">Siguientes</button>
            </div>
        </div>
    </div>
</div>