<div class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <h1>Recuperaición de contraseña</h1>
                <p>Para recuperar su contraseña debe colocar su email y luego dar botón recuperar en verde.</p>
                <form ngNativeValidate #f="ngForm" (ngSubmit)="recovery( f )">
                    <div>
                        <input type="email" [ngModel]="email" name="email" id="email" maxlength="50" required>
                    </div>
                    <div>
                        <button class="btn btn-primary" [routerLink]="['/login']" type="button"><i class="fa fa-backward"></i> Login</button>
                        <button class="btn btn-success"><i class="fa fa-recycle"></i> Recuperar</button>
                    </div>
                    <div class="clearfix "></div>

                    <div class="separator ">
                        <p class="change_link ">Problemas para recuperar su contraseña
                            <a href="mailto:{{ SYSTEM_EMAIL }} " class="btn btn-default "> {{ SYSTEM_EMAIL }} </a>
                        </p>

                        <div class="clearfix "></div>
                        <br />


                    </div>
                </form>
            </section>
        </div>
    </div>
</div>