<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Pedido Nro: {{ document?.number }}
                </h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h2>
                                {{ document?.client['name'] }}
                            </h2>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                    <strong>NIT: {{ document?.client['code'] }} <span class="badge badge-info bg-blue">{{ document?.client['correlative'] }}</span></strong>
                                    <br>{{document?.client['address'] }}
                                    <br><span class="label label-primary">{{ document?.client['city']['name'] }}, {{ document?.client['city']['state']['name'] }}</span>
                                    <br>
                                    <span class="label label-warning" *ngFor="let item of document?.client['zone'] " >
                                      {{ item.name }}
                                    </span>
                                  </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <strong>Giovanni Ariza</strong>
                            <br>Fecha: {{ document?.date | date:'mediumDate' }}
                            <br>Hora: {{ document?.date | date:'shortTime' }}
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <span>Estado: <b class="bg-{{ document?.status['color'] }}">&nbsp;<i class="{{ document?.status['icon'] }}"></i> {{ document?.status['name'] }}&nbsp;</b></span>
                            <br>
                            <b class="">Total registros {{ totalRows }}</b>
                            <br> Impreso: {{ todate | date:'MMM d, y, h:mm:ss a' }}
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <p class="lead">Productos</p>
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">
                                <tbody [ngClass]="{'hidden': !lodaing}">
                                    <tr>
                                        <td colspan="9" class="text-center"><i class="fa fa-spin fa-4x fa-cog"></i> cargando registros...</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!lodaing" [ngClass]="{'hidden': lodaing}">
                                    <tr>
                                        <th>#</th>
                                        <th>Img</th>
                                        <th>Código</th>
                                        <th>REF</th>
                                        <th>Descripción</th>
                                        <th>Marca</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                    <tr *ngFor="let detail of details; let i=index">
                                        <td>{{ from + i + 1 }}</td>
                                        <td><img [src]="detail.product['img']" class="img-thumbnail" width="100px" height="100px"></td>
                                        <td>{{ detail.product['barcode'] }}</td>
                                        <td>{{ detail.product['sku'] }}</td>
                                        <td>{{ detail.product['name'] }}</td>
                                        <td>{{ detail.product['brand']['name'] }}</td>
                                        <td class="text-right">{{ detail.price | number:'0.0-0' }}</td>
                                        <td class="text-right">
                                            {{ detail.quantity }}
                                        </td>
                                        <td class="text-right">{{ detail.quantity * detail.price | number:'0.0-0' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">

                                </div>

                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">

                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <p class="lead">Totales</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:70%">Subtotal:</th>
                                            <td class="text-right">{{ totals?.sum | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr>
                                            <th> Descuento: ({{ discounts?.discount }}%)
                                            </th>
                                            <td class="text-right">{{ totals?.discount| number:'0.0-0' }}</td>
                                        </tr>
                                        <tr *ngFor="let delivery of deliveries">
                                            <th> {{ delivery?.company }}</th>
                                            <td class="text-right">{{ delivery?.price | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr *ngFor="let tax of taxes">
                                            <th> {{ tax.name }} ({{ tax.tax }}%) </th>
                                            <td class="text-right">{{ ((tax.tax)/100) * totals?.sum | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td class="text-right"> <b>{{ totals?.total | number:'0.0-0'}} </b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12 text-right">
                                    <hr>
                                    <button class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Imprimir</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
        </div>
    </div>
</div>