<form ngNativeValidate #f="ngForm" (ngSubmit)="generatePDF( f )">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-6">
            <label>Imagen</label>
            <br>
            <input type="checkbox" [(ngModel)]="img" name="img" class="icheckbox_flat icheckbox_flat-green  form-control" />
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 col-xs-6">
            <label>Copia email</label>
            <br>
            <input [ngModel]="email" name="email" type="email" class="form-control" placeholder="coreo@dominio.com" />
            <input [ngModel]="company" name="company" type="hidden" />
        </div>
    </div>
    <div class="clear">&nbsp;</div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <span *ngIf="loading"><i class="fa fa-2x fa-spin fa-spinner" ></i> Generando archivo PDF ...</span>
            <a class="btn btn-block btn-success" href="{{ url }}" *ngIf="link && url" target="_blank"><i class="fa fa-download"></i> Click Descarga</a>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
            <button class="btn btn-dark btn-block submit" type="submit"><i class="fa fa-file-pdf-o"></i> Generate PDF</button>
        </div>
    </div>
</form>