<form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-vertical form-label-left" novalidate *ngIf="billForm">
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="form-group">
            <div class="item form-group" [ngClass]="{ 'bad': !form.get('number').validate }">
                <label class="control-label" for="number">Número <span class="required">*</span></label>

                <input formControlName="number" type="text" required="required" class="form-control" placeholder="Número de Factura">

                <div *ngIf="form.controls['number'].errors?.required" class="alert">Número de Factura</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
        <div class="item form-group" [ngClass]="{ 'bad': !form.get('price').validate }">
            <label class="control-label" for="price">Monto <span class="required">*</span></label>

            <input formControlName="price" type="number" required="required" class="form-control text-right" min="1" placeholder="Monto">

            <div *ngIf="form.controls['price'].errors?.required" class="alert"> Costo de Envio</div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <br>
        <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block"><i class="fa fa-plus"></i> Agregar Factura</button>
    </div>
</form>
<table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%" *ngIf="billShow">
    <thead>
        <tr>
            <th class="text-center">Fecha Pago</th>
            <th class="text-center">Número de Factura</th>
            <th class="text-center">Monto</th>
            <th class="text-center">Estados</th>
            <th class="text-center" *ngIf="billForm">Borrar</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of documentsRelate">
            <td class="text-right"> {{ item.date | date:'d/MM/yyyy' }}</td>
            <td class="text-center"> {{ item.number }} </td>
            <td class="text-right"> {{ item.price | number:'0.0-0' }} </td>
            <td class="text-center"> {{ item.status?'Registrado':'Pagado' }} </td>
            <td class="text-center" *ngIf="billForm"><button *ngIf="item.status" class="btn btn-danger" (click)="delete(item._id)"><i class="fa fa-trash"></i></button></td>
        </tr>
    </tbody>
</table>
<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
        Total: ({{ totalRecords | number }})
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <button (click)="chageFromDR(-5) " class="btn btn-block btn-default ">Anterior</button>
    </div>
    <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
        <button (click)="chageFromDR(5) " class="btn btn-block btn-default ">Siguientes</button>
    </div>
</div>