<p class="lead">Costos de Envío:</p>
<form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="form-group">
            <div class="item form-group" [ngClass]="{ 'bad': !form.get('company').valid && form.get('company').dirty }">
                <label class="control-label" for="company">Empresa <span class="required">*</span></label>

                <input formControlName="company" type="text" required="required" class="form-control" placeholder="Nombre">

                <div *ngIf="form.controls['company'].errors?.required" class="alert">Nombre de la empresa</div>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <div class="item form-group" [ngClass]="{ 'bad': !form.get('price').valid && form.get('price').dirty }">
            <label class="control-label" for="price">Monto <span class="required">*</span></label>

            <input formControlName="price" type="number" required="required" class="form-control text-right" min="1" placeholder="Monto">

            <div *ngIf="form.controls['price'].errors?.required" class="alert"> Costo de Envio</div>
        </div>
    </div>

    <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block"><i class="fa fa-truck"></i> Agregar Costos de envío</button>

</form>