<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Clientes ( <b class="text-success">{{ clientTotalRecords | number }}</b> )</h2>
                <div class="title_right">
                    <div class="col-md-4 col-sm-4 col-xs-6 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" #searchclients class="form-control" (keyup)="searchingClients( searchclients.value )" placeholder="buscar clientes por...">
                            <span class="input-group-btn">
                          <button class="btn btn-default" type="button" (click)="searchingClients( searchclients.value )"><i class="fa fa-search"></i></button>
                        </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <form class="form-horizontal form-label-left">
                    <div class="form-group">
                        <div class="divider"></div>
                        <div class="row text-center" *ngIf="clientLoading">
                            <i class="fa fa-spinner fa-4x fa-spin"></i> buscando clientes...
                        </div>
                        <div *ngIf="!clientLoading">
                            <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
                                <thead class="text-center bg-primary">
                                    <tr>
                                        <th>NIT</th>
                                        <th>Nombre</th>
                                        <th class="hidden-xs">Dirección</th>
                                        <th>Validar</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let client of clients">
                                        <td>{{ client.code }} - <b class="badge badge-info">{{ client.correlative }}</b> </td>
                                        <td>
                                            {{ client.name }}<br>
                                            <span class="hidden-lg hidden-md hidden-sm text-mobil">
                                                    {{ client.address }}<br>
                                                    <label class="label label-primary">{{ client.city['name'] }}, {{ client?.city['state']['name'] }}</label><label class="label label-warning">{{ client.zone['name'] }}</label>
                                            </span>
                                        </td>
                                        <td class="hidden-xs">
                                            {{ client.address }}<br>
                                            <label class="label label-primary">{{ client.city['name'] }}, {{ client?.city['state']['name'] }}</label><label class="label label-warning">{{ client.zone['name'] }}</label>
                                        </td>
                                        <td><button (click)="verify( client._id )" class="btn btn-success btn-block"><i class="fa fa-check"></i></button></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>