<div class="x_panel" >
  <div class="x_title">
      <h2>Cliente </h2>
      <div class="title_right">
          <div class="col-md-4 col-sm-4 col-xs-6 form-group pull-right top_search">
              <div class="input-group">
              </div>
          </div>
      </div>
      <div class="clearfix"></div>
  </div>
  <div class="x_content">
      <div class="alert alert-warning" role="alert"  *ngIf="isClient"  >
          <i class="fa fa-exclamation-triangle"></i> Al seleccionar el Perfil del usuario como _CLIENTE_ debe Seleccionar buscar y seleccinar uno
      </div>
      <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
          <thead class="text-center bg-primary">
              <tr>
                  <th>NIT</th>
                  <th>Nombre</th>
                  <th class="hidden-xs">Dirección</th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <td>{{ client?.code }} - <b class="badge badge-info">{{ client?.correlative }}</b> </td>
                <td>
                    {{ client?.name }}<br>
                    <span class="hidden-lg hidden-md hidden-sm text-mobil">
                            {{ client?.address }}<br>
                            <label class="label label-primary">{{ client?.city['name'] }}, {{ client?.city['state']['name'] }}</label><label class="label label-warning">{{ client?.zone['name'] }}</label>
                    </span>
                </td>
                <td class="hidden-xs">
                    {{ client?.address }}<br>
                    <label class="label label-primary">{{ client?.city['name'] }}, {{ client?.city['state']['name']}}</label><label class="label label-warning">{{ client?.zone['name'] }}</label>
                </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div>