<form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="form-group">
        <div class="item form-group" [ngClass]="{ 'bad': !form.get('message') }">
            <!-- <label class="control-label col-md-3 col-sm-3 col-xs-12" for="message">Mensaje <span class="required">*</span></label> -->
            <div class="col-md-12 col-sm-12 col-xs-12">
                <textarea formControlName="message" type="text" required="required" class="form-control" placeholder="Nombre" style="width: 100%" rows="3"></textarea>
            </div>
            <div *ngIf="form.controls['message'].errors?.required" class="alert">Escribir su comentario</div>
        </div>
    </div>
    <button type="submit" [disabled]="form.invalid" class="btn btn-success"><i class="fa fa-edit "></i> Agrgar Comentario</button>
</form>
<div class="row">
    <ul class="list-unstyled msg_list">
        <li *ngFor="let comment of commentsGroup">
            <a>
                <span class="image">
                    <cl-image public-id="{{ comment.user.avatar }}" secure="true">
                    </cl-image>
                </span>
                <span>
                <span>{{ comment.user.name }} {{ comment.user.lastname }} </span>
                <span class="time">{{ comment.date | date:'medium'}}</span>
                </span>
                <span class="message" [innerHTML]="comment.message | keepHTML"></span>
            </a>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-primary">
        Total: ({{ totalRecords | number }})
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button (click)="chageFrom(-5) " class="btn btn-block btn-default ">Anterior</button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button (click)="chageFrom(5) " class="btn btn-block btn-default ">Siguientes</button>
    </div>
</div>