<div class="dashboard-widget-content">
    <ul class="list-unstyled timeline widget">
        <li *ngFor="let item of logs; let i=index">
            <div class="block">
                <div class="block_content">
                    <h2 class="title"><span class="badge badge-info">{{ from + i + 1 }}</span>&nbsp;
                        <a>{{ item.type }}</a>
                    </h2>
                    <div class="byline">
                        <span>{{ item.date | date:'medium' }}</span> por <a>{{ item.user?.name  }} {{ item.user?.lastname }}</a>
                    </div>
                    <p class="excerpt" [innerHTML]="item.message | keepHTML"></p>
                </div>
            </div>
        </li>
    </ul>
</div>
<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 text-primary">
        Total: ({{ totalRecords | number }})
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button (click)="chageFrom(-5) " class="btn btn-block btn-default ">Anterior</button>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button (click)="chageFrom(5) " class="btn btn-block btn-default ">Siguientes</button>
    </div>
</div>