<li *ngIf="total > 0">
    <div class="text-center">
        <a [routerLink]="['/doc/pedido/', document]">
            En total tiene <strong>{{ total }}</strong> productos, Solo se ven los últimos 10 agregados, <strong>clic para ver el carrito completo</strong>
            <i class="fa fa-arrow-circle-right"></i>
        </a>
    </div>
</li>
<li *ngFor="let item of dataPassed; let i = index">
    <a>
        <span class="image">
                <cl-image public-id="{{ item.product?.img }}"  secure="true" class="catalog-img img-responsive">
                    </cl-image>
            </span>
        <span>
          <span>{{ item.product?.sku }} - <b class="text-primary">{{ item.product?.barcode }}</b></span>
        <span class="time badge bg-green">{{ item.price | currency:'COP':'$':'0.0' }}</span>

        </span>
        <span class="message">
             {{ item.product?.name }}
        </span>
        <span class="time text-success">
            <label class="label label-primary">{{ item.product?.category[0]?.name }}</label>
            <label class="label label-primary">{{ item.product?.line?.name }}</label>
            <label class="label label-primary">{{ item.product?.brand?.name }}</label>
            <label class="label label-info" style="font-size: x-small">Cant: {{ item.quantity | number }}</label>
        </span>
    </a>
</li>