<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <cl-image public-id="{{ user.avatar }}" secure="true" class="">
                        </cl-image>{{ user.name }}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                        <li><a [routerLink]="['/']" class="active"><i class="fa fa-dashboard pull-right"></i>Dashboard</a></li>
                        <li><a [routerLink]="['/profile']" class="active"><i class="fa fa-user pull-right"></i>Perfil</a></li>
                        <li><a [routerLink]="['/import/product']"><i class="fa fa-upload pull-right"></i>Importa Inventario</a></li>
                        <li><a [routerLink]="['/import/bill']"><i class="fa fa-upload pull-right"></i>Importa Facturas</a></li>
                        <li><a [routerLink]="['/import/client']"><i class="fa fa-upload pull-right"></i>Importa Clientes</a></li>
                        <li><a [routerLink]="['/import/imagen']"><i class="fa fa-upload pull-right"></i>Subir Imágenes</a></li>
                        <li><a [routerLink]="['/team']"><i class="fa fa-group pull-right"></i>Usuarios</a></li>
                        <li><a [routerLink]="['/company']"><i class="fa fa-building pull-right"></i>Empresa</a></li>
                        <li><a [routerLink]="['/terminos-condiciones']"><i class="fa fa-info pull-right"></i>Términos y Condciones</a></li>
                        <li><a (click)="_UserService.logout()"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                    </ul>
                </li>
                <li class="pull-left">
                    <select id="companySelect" type="text" class="text-mobil btn-dark">
                            <option *ngFor="let company of companies" [value]="company._id" >
                                {{ company.name }}
                            </option>
                        </select>
                </li>
                <li role="presentation" class="dropdown">
                    <a href="javascript:;" id="orderCart" class=" text-mobil dropdown-toggle info-number hidden" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-shopping-cart"></i> Pedido
                        <span id="orderNumber" class="badge bg-green">0</span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
                        <app-cart></app-cart>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</div>