<div class="x_panel">
    <div class="x_title">
        <h2>Acceso</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- Product:FORM:init -->
        <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('role').valid && form.get('role').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="role">Nombre <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select formControlName="role" required="required" class="select2_multiple form-control">
                            <option *ngFor="let item of role" value="{{ item.name }}">
                                {{ item.name}}
                            </option> 
                        </select>
                        <div *ngIf="form.controls['role'].errors?.required" class="alert">Nombre requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('resource').valid && form.get('resource').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="resource">Entidad <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input formControlName="resource" type="text" required="required" class="form-control" placeholder="Table; Entity" maxlength="50">
                        <div *ngIf="form.controls['resource'].errors?.required" class="alert">Entidad requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('action').valid && form.get('action').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="action">Acción <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select formControlName="action" required="required" class="select2_multiple form-control">
                            <option value="create:any">Create Any</option> 
                            <option value="create:own">Create Own</option> 
                            <option value="read:any">Read Any</option> 
                            <option value="read:own">Read Own</option> 
                            <option value="update:any">Update Any</option> 
                            <option value="update:own">Update Own</option> 
                            <option value="delete:any">Delete Any</option> 
                            <option value="delete:own">Delete Own</option> 
                        </select>
                        <div *ngIf="form.controls['action'].errors?.required" class="alert">Nombre requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('attributes').valid && form.get('attributes').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="attributes">Atributos <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input formControlName="attributes" type="text" required="required" class="form-control" placeholder="*, !_id ," maxlength="50">
                        <div *ngIf="form.controls['attributes'].errors?.required" class="alert">Entidad requerida</div>
                    </div>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Estado <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input formControlName="status" type="checkbox" class="flat">
                </div>
            </div>
            <button class="btn btn-primary" type="button" [routerLink]="['/access']">Nuevo</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Accesos Existentes</h2>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-4 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" #data class="form-control" (keyup)="search( data.value )" placeholder="buscar por...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="search( data.value )"><i class="fa fa-search"></i></button>
                          </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- <p class="text-muted font-13 m-b-30">
            Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p> -->

        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Rol</th>
                    <th>Resource</th>
                    <th>Acción</th>
                    <th>Attributes</th>
                    <th>Status</th>
                    <th>Edición</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{ item.role }} </td>
                    <td>{{ item.resource }} </td>
                    <td>{{ item.action }} </td>
                    <td>{{ item.attributes }} </td>
                    <td>
                        <a class="btn btn-success" *ngIf="item.status" (click)="inactive( item._id, item.status )"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger" *ngIf=" !item.status " (click)="active( item._id, item.status )"><i class="fa fa-remove"></i></a></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/access', item._id ]"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                Total: ({{ totalRecords | number }})
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(-10) " class="btn btn-block btn-default ">Anterior</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(10) " class="btn btn-block btn-default ">Siguientes</button>
            </div>
        </div>
    </div>
</div>