<div class="x_panel">
    <div class="x_title">
        <h2>Perfil</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('name').valid && form.get('name').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="name" type="text" required="required" class="form-control has-feedback-left" placeholder="Nombre" maxlength="50">
                                <span class="fa fa-user form-control-feedback left text-primary" aria-hidden="true"></span>
                                <div *ngIf="form.controls['name'].errors?.required" class="alert">Nombre requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('lastname').valid && form.get('lastname').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Apellido <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="lastname" type="text" required="required" class="form-control has-feedback-left" placeholder="Apellido" max="50">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['lastname'].errors?.required" class="alert">Apellido requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('email').valid && form.get('email').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Email <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="email" type="text" required="required" class="form-control has-feedback-left" placeholder="Email" max="60">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['email'].errors?.required" class="alert">email requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  &nbsp;
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                  <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">Guardar</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Cambio de Contraseña</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <app-password [UserID]="UserLogin?._id"></app-password>
    </div>
</div>