<div class="profile clearfix">
    <div class="profile_pic">
        <cl-image public-id="{{ user.avatar }}" secure="true" class="img-circle profile_img"></cl-image>
    </div>
    <div class="profile_info">
        <h2>{{ user.name }}</h2>
        <span>{{ user.role }}</span>
    </div>
    <div class="clearfix"></div>
</div>