<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-align-left"></i> Términos y Condiciones <small>Actulizado 2018-11-26</small></h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- start accordion -->
        <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading0" data-toggle="collapse" data-parent="#accordion" href="#collapse0" aria-expanded="false" aria-controls="collapse0">
                    <h4 class="panel-title"><i class="fa fa-home"></i>&nbsp;Intro</h4>
                </a>
                <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0" style="height: 0px;">
                    <div class="panel-body">
                        <p>Entre los suscritos, de una parte, <strong>Giovanni Alberto Ariza Quiroz</strong>, identificado como aparece al pie de su firma, quien en su calidad de Representante Legal obra en nombre y representación legal, <strong>Persona Natural</strong>                            debidamente constituida de acuerdo con las leyes de la República de Colombia, la cual para los efectos del presente documento se denominará <strong>EL Proveedor;</strong> El presente Acuerdo tendrá validez a partir de la fecha
                            en la que marque la casilla de aceptación de este acuerdo o desde momento de adquirir una licencia, &nbsp;la cual para efectos del presente documento se denominará <strong>EL Cliente</strong>, se ha celebrado el Acuerdo de
                            confidencialidad contenido en las siguientes cláusulas:</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading1" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1">
                    <h4 class="panel-title"><i class="fa fa-pencil"></i>&nbsp;Definiciones</h4>
                </a>
                <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1" style="height: 0px;">
                    <div class="panel-body">
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading2" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2">
                    <h4 class="panel-title"><i class="fa fa-check"></i>&nbsp;Confidencial</h4>
                </a>
                <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align:justify">A propósito de toda la Información, verbal y/o escrita, que se suministren mutuamente las Partes de conformidad con la cláusula anterior y/o a la cual puedan tener acceso en virtud de este Acuerdo o del Negocio, así como sus respectivos
                            accionistas y/o sociedades matrices y/o filiales y/o subsidiarias, las filiales y/o subsidiarias de éstas, sus empleados, representantes, agentes, consultores y/o apoderados (en adelante la Información Confidencial), cada Parte
                            se obliga, respecto de la Información Confidencial de la otra a:</p>

                        <p style="text-align:justify">&nbsp;</p>

                        <ol>
                            <li style="text-align:justify">Guardar absoluta confidencialidad y reserva durante la vigencia de este Acuerdo en relación con la totalidad de la Información Confidencial de la que tenga conocimiento o acceso por cualquier medio y por cualquier circunstancia,
                                de tal forma que no sea conocida por terceros, so pena de ser responsable por la totalidad de los daños directos, perjuicios, gastos y costas que la violación de dicha confidencialidad ocasione.</li>
                            <li style="text-align:justify">A no editar, copiar, compilar o reproducir por cualquier medio la Información Confidencial de la que tenga conocimiento o acceso por cualquier medio y por cualquier circunstancia, salvo autorización previa y escrita de la Parte
                                a quien pertenece la Información Confidencial.</li>
                            <li style="text-align:justify">A no utilizar en forma alguna, directamente o a través de terceros, en asuntos, negocios, y/o actividades de cualquier tipo, distintas a aquellas autorizadas expresamente por la Parte, la Información Confidencial de la que
                                tenga conocimiento o acceso por cualquier medio y por cualquier circunstancia en virtud de este Acuerdo y/o del Negocio. Esta obligación implica la de restituir a la Parte a quien pertenece la Información Confidencial a
                                la terminación del presente Acuerdo y/o del Negocio, toda la Información Confidencial que tenga en su poder, ya sea en documentos escritos, medios magnéticos o en cualquier otro medio, e igualmente a retirarlos completamente
                                de sus respectivos archivos físicos y electrónicos.</li>
                            <li style="text-align:justify">Asumir la responsabilidad por la totalidad de los daños, perjuicios, gastos y costas que genere el mal o inadecuado manejo de la Información Confidencial que conozca en virtud de este Acuerdo y/o del Negocio o la violación
                                de las obligaciones de reserva y confidencialidad establecidas en el mismo respecto de la misma.</li>
                            <li style="text-align:justify">Cualquier información suministrada de manera previa a la firma del presente Acuerdo, se considerará como Información Confidencial y estará sujeta a los términos del mismo.</li>
                            <li style="text-align:justify">Las Partes aceptan y declaran que toda la Información Confidencial ha sido o será revelada únicamente con el propósito de permitir el cabal cumplimiento de los fines señalados en la cláusula primera del presente Acuerdo.</li>
                            <li style="text-align:justify">Son excepciones a la obligaciones de confidencialidad aquí estipuladas las siguientes:
                                <ol>
                                    <li>Que la Información Confidencial de que se trate haya sido de dominio público o adquiera tal condición o sea publicada por cualquier medio sin ninguna acción de la Parte receptora en contravención a lo establecido en
                                        este Acuerdo.</li>
                                    <li>Que la Información Confidencial de que se trate antes de revelarla estuviera en posesión legítima de la Parte receptora.</li>
                                    <li>Que con posterioridad a la revelación de la Información Confidencial de que se trate, ésta sea legalmente recibida por la Parte receptora de manos de un tercero que tenga derecho para distribuirla, sin notificación
                                        de ninguna restricción por lo que hace al derecho a revelarla posteriormente.</li>
                                    <li>Que la Información Confidencial de que se trate sea adquirida por la Parte receptora a través de personas que no hayan tenido, bien directa o indirectamente, acceso o conocimiento de la Información Confidencial.</li>
                                    <li>Que la Información Confidencial de que se trate, se revele con la aprobación previa y escrita de la Parte a la que pertenece dicha información.</li>
                                    <li>Que la revelación y/o divulgación de la Información Confidencial se realice en desarrollo o por mandato de una ley, decreto o sentencia u orden de autoridad competente en ejercicio de sus funciones legales. En este
                                        caso, la Parte receptora se obliga a avisar a la otra inmediatamente tenga conocimiento de esta obligación, para poder tomar las medidas necesarias para proteger su Información Confidencial.</li>
                                    <li>La totalidad de las obligaciones a que se refiere el presente Acuerdo se hacen extensivas a los socios de la Parte receptora, sus directores, administradores, funcionarios, empleados, consultores, asesores, revisores,
                                        auditores y en general a quienes deban conocer la Información Confidencial en desarrollo de la negociación referida. En todo caso la Parte receptora se obliga a no revelar la Información Confidencial sino a aquellas
                                        personas que estrictamente deban conocerla en razón a su participación en el proceso de análisis o en la negociación correspondiente.</li>
                                    <li>Dentro de la Información Confidencial se encuentra incluido el secreto industrial, entendido de conformidad con la definición que del mismo consagra el artículo 260 de la Decisión 486 de 2000 de la Comunidad Andina</li>
                                </ol>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading3" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3">
                    <h4 class="panel-title"><i class="fa fa-check-square-o"></i>&nbsp;Objeto del Contrato</h4>
                </a>
                <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3" style="height: 0px;">
                    <div class="panel-body">
                        <p>El PROVEEDOR otorgar a El Cliente para utilizar los programas , y de acuerdo al procedimiento establecido en el mismo, el cual ser requisito para obtener los derechos de uso, bajo los términos y condiciones del presente contrato
                            y sus anexos.</p>

                        <p>El pago de la licencia otorgada bajo el presente contrato, no constituye la compra de los programas ni de los títulos, ni derechos de autor correspondientes.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading4" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4">
                    <h4 class="panel-title"><i class="fa fa-male"></i>&nbsp;Responsabilidad del Información</h4>
                </a>
                <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align: justify;">El Cliente es responsable de cualquier tipo de información que se carga a través de El Negocio, entiéndase como, datos, imágenes, videos, contenido, usuarios, para el uso de El Negocio, EL Proveedor no tendrá ninguna responsabilidad
                            legal, económica y moral, de la información subida por El Cliente a través de sus diferentes usuarios.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Cumplimiento del Acuerdo</h3>

                        <p style="text-align: justify;">Por la presente, el Cliente se obliga a utilizar el Servicio de acuerdo con la Política de uso aceptable. EL Proveedor puede ofrecer, según considere oportuno, aplicaciones, características o funciones adicionales a través del
                            Servicio, cuyo uso puede estar supeditado al acuerdo del Cliente según condiciones adicionales. El Cliente acepta que el uso que haga del Servicio está sujeto al cumplimiento por su parte de las condiciones de dicho Servicio.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Políticas de uso y límites</h3>

                        <p style="text-align: justify;">El Cliente cumplirá con las políticas de uso y límites relativos al uso del Servicio que solicite Conductiva en cada momento, incluidos, sin limitaciones: (i) requisitos técnicos y de implementación; (ii) directrices de tratamiento
                            de la marca del Proveedor para el Servicio; (iii) términos de uso y políticas de privacidad del sitio web de <strong>PedidosIntegrados.com</strong> y (iv) requisitos de Conductiva para protección de datos.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Uso permitido</h3>

                        <p style="text-align: justify;">El Cliente acepta utilizar el Servicio exclusivamente con propósitos legales, pertinentes y según el presente Acuerdo y cualquier política o directriz aplicable. Asimismo, el Cliente se compromete a no involucrarse en ninguna actividad
                            que interfiera con el Servicio o los servidores o redes conectados al Servicio o que interrumpa el servicio. Además de regirse por este acuerdo, el uso de determinados servicios específicos de <strong>El Proveedor</strong>                            por parte del Cliente está regido por las políticas o directrices específicas que se presentan al Cliente cuando este se registra o accede a los servicios en cuestión incorporados específicamente en el presente Acuerdo.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Administración del Servicio</h3>

                        <p style="text-align: justify;">por parte del Cliente El Cliente recibirá una contraseña y una cuenta que deberá utilizar a efectos de administración de las Cuentas de usuario final de sus Usuarios finales. El Cliente tiene la responsabilidad de mantener la confidencialidad
                            de dicha contraseña y cuenta, para lo cual designará a los empleados que dispondrán de autorización para acceder a la cuenta y limitará el alcance de dicha autorización al cumplimiento de las tareas asignadas en función de
                            este Acuerdo y para todas las actividades que se realicen en el marco de la cuenta del Cliente. El Cliente acepta notificar de forma inmediata a El Proveedor sobre cualquier uso o acceso no autorizado al Servicio, a la contraseña
                            o cuenta del Cliente o cualquier otro tipo de vulneración de la seguridad. EL Proveedor no podrá responsabilizarse ni se responsabilizará de ninguna pérdida o daño derivado del incumplimiento de las obligaciones de seguridad
                            por parte del Cliente. El Cliente reconoce y acepta que EL Proveedor no se responsabilizará en forma alguna ni bajo circunstancia alguna de ninguna acción u omisión por parte del Cliente o de cualquier Usuario final, incluidos
                            los daños de cualquier tipo resultantes de dichas acciones u omisiones.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Consentimiento del Usuario final</h3>

                        <p style="text-align: justify;">Los Administradores del Cliente pueden tener la capacidad de acceder, supervisar, utilizar o divulgar los datos disponibles para los <strong>Usuarios finales</strong> dentro de las cuentas de estos últimos. El Cliente debe obtener
                            y mantener el consentimiento de los Usuarios finales para permitir (i) el acceso, supervisión, uso o divulgación de estos datos por parte del Cliente, y para que Conductiva proporcione al Cliente la capacidad de hacerlo, y
                            para permitir (ii) la prestación del Servicio por parte de Conductiva.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Uso no autorizado</h3>

                        <p style="text-align: justify;">El Cliente ejercerá todos los esfuerzos comercialmente razonables para impedir un uso no autorizado del Servicio y para cancelar usos no autorizados. El Cliente informará de inmediato a El Proveedor de cualquier uso o acceso no
                            autorizado al Servicio del que tenga conocimiento.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Restricciones de uso</h3>

                        <p style="text-align: justify;">A menos que El Proveedor lo acuerde específicamente por escrito, el Cliente no puede llevar cabo ninguna de las acciones que se describen a continuación. Asimismo, deberá realizar todos los esfuerzos comercialmente razonables para
                            asegurarse de que ningún tercero las lleve a cabo: (a) vender, revender, arrendar el Servicio a un tercero o alguna acción equivalente (a menos que se autorice explícitamente en este Acuerdo), (b) intentar realizar ingeniería
                            inversa en el Servicio o en alguno de sus componentes, (c) intentar crear un servicio sustitutivo o similar mediante el uso del Servicio o el acceso a estos o (d) utilizar el Servicio para Actividades de alto riesgo.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <h3 style="text-align: justify;">Condiciones aplicables al Usuario final</h3>

                        <p style="text-align: justify;">El Cliente reconoce que sus Usuarios finales están sujetos a los términos relacionados con cada uno de los componentes del Servicio, que pueden incluir, sin limitaciones, (i) los Términos de uso del servicio de PedidosIntegrados.com
                            definidos en este Acuerdo y (ii) las Condiciones Generales del sitio de PedidosIntegrados.com (que pueden ser modificadas ocasionalmente) disponibles en la dirección http://www.pedidosintegrados.com o la URL que El Proveedor
                            &nbsp;proporcione.
                        </p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <p style="text-align: justify;">El Cliente reconoce que cada Usuario final del Servicio está de acuerdo con las políticas de privacidad correspondientes que pueden incluir sin limitaciones la Política de privacidad del servicio de PedidosIntegrados incluída como
                            anexo a este mismo Acuerdo y la Política de privacidad de Conductiva (que puede ser modificada de manera ocasional) disponible en http://www.pedidosintegrados.com o cualquier otra URL que EL Proveedor pueda facilitar.</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <p style="text-align: justify;">En el caso de que el Cliente tenga noticia de alguna infracción de las condiciones de servicio o política aplicables por parte de un Usuario final, el Cliente acepta (i) notificárselo a EL Proveedor tan pronto como sea posible,
                            (ii) suspender o cancelar de manera inmediata la cuenta de dicho Usuario final a menos que EL Proveedor consienta lo contrario por escrito (incluso a través del correo electrónico). A petición de El Proveedor, el Cliente suspenderá
                            o cancelará de forma inmediata cualquier Cuenta del Usuario final o acceso de administrador al Servicio como respuesta a una infracción de los términos de uso o política aplicables por parte de un Usuario final o administrador.
                            EL Proveedor se reserva el derecho, a su discreción, de suspender o cancelar la Cuenta de usuario final de cualquier Usuario final.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading5" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                    <h4 class="panel-title"><i class="fa fa-envelope-o"></i>&nbsp;Comunicaciones</h4>
                </a>
                <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align:justify">Comunicaciones El Proveedor y el Cliente acuerdan comunicarse y notificarse todas las incidencias que se produzcan a lo largo de la vigencia de los distintos servicios que pueda tener contratados, preferentemente y previo a cualquier
                            otra vía de comunicación, mediante correo electrónico. El correo de El&nbsp;Proveedor&nbsp;para estas comunicaciones será <a href="mailto:soporte@giosyst3m.net">soporte@giosyst3m.net</a> &nbsp;y el del Cliente será el facilitado
                            en el formulario de registro del servicio en <a href="http://PedidosIntegrados.com" target="_blank">http://PedidosIntegrados.com</a>&nbsp; El Cliente se compromete a tener operativo este correo electrónico y a modificarlo desde
                            su área privada si fuese necesario para continuar recibiendo las comunicaciones. En todo caso, si sucediese cualquier problema urgente o fallo en la anterior comunicación, las comunicaciones se realizarán mediante teléfono,
                            fax, correo postal, mensajería o cualquier otro sistema adecuado al fin que se persiga. Sin embargo, la vía de comunicación preferente es la del correo electrónico, quedando exenta El Proveedor de todo tipo de responsabilidad
                            que se pueda derivar por la falta de consulta o error en el correo electrónico facilitado por el Cliente. Cada una de las partes será responsable de la guarda y custodia de las copias de las comunicaciones que se realicen.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading6" data-toggle="collapse" data-parent="#accordion" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                    <h4 class="panel-title"><i class="fa fa-money"></i>&nbsp;Costos</h4>
                </a>
                <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6" style="height: 0px;">
                    <div class="panel-body">
                        <p>El Cliente puede contratar el Servicio utilizando cualquiera de los planes de suscripción que se encuentren descritos en: <a href="http://PedidosIntegrados.com">PedidosIntegrados.com</a>&nbsp;en el momento de realizar el pedido
                            del Servicio. La contratación del servicio se realizará por un periodo determinado, mensual, semestral o anual&nbsp;con renovación automática.</p>

                        <p>El Cliente puede contratar los Servicio contactando a El Proveedor a travez de cuenta de emial <a href="mailto:ventas@pedidosintegrados.com?subject=Cotizaci%C3%B3n">ventas@pedidosintegrados.com</a>&nbsp;</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading7" data-toggle="collapse" data-parent="#accordion" href="#collapse7" aria-expanded="false" aria-controls="collapse7">
                    <h4 class="panel-title"><i class="fa fa-gavel"></i>&nbsp;Licencias</h4>
                </a>
                <div id="collapse7" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading7">
                    <div class="panel-body">
                        <p style="text-align:justify">EL Proveedor generará un numero de licencia para El Cliente para usar EL Negocio, según los establecidos en el <a href="http://PedidosIntegrados.com" target="_blank">PedidosIntegrados.com</a>, el nro. de licencia asignado estará&nbsp;visible
                            en Sistemas =&gt; Licencias</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading8" data-toggle="collapse" data-parent="#accordion" href="#collapse8" aria-expanded="false" aria-controls="collapse8">
                    <h4 class="panel-title"><i class="fa fa-wrench"></i>&nbsp;Actualizaciones</h4>
                </a>
                <div id="collapse8" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading8">
                    <div class="panel-body">
                        <p>El Proveedor realizará las actualizaciones del sitio, cuando sean de acto impacto será notificado a El Cliente por el email que suministro al registrase o adquirir la licencia.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading9" data-toggle="collapse" data-parent="#accordion" href="#collapse9" aria-expanded="false" aria-controls="collapse9">
                    <h4 class="panel-title"><i class="fa fa-check-circle-o"></i>&nbsp;Garantías</h4>
                </a>
                <div id="collapse9" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading9">
                    <div class="panel-body">
                        <p style="text-align: justify;">EL Proveedor garantiza por el tiempo establecido en la vigencia de la Licencia que halla cancelado. EL Proveedor se compromete a resolver sin cargo, durante el período de garantía, cualquier error inherente a los desarrollos bajo
                            su responsabilidad, excepto por errores en componentes no desarrollados por EL Proveedor, o que son resultado de la Integración con desarrollos no realizados por EL Proveedor, o que no cumplan parcial o completamente con los
                            requerimientos expresados en la presente propuesta y en las especificaciones detalladas acordadas por ambas partes durante la ejecución del proyecto. Los cambios y mejoras a las funcionalidades descriptas no son cubiertos por
                            esta garantía. Esta garantía será anulada en el caso que el Cliente o cualquier otra persona física o legal modifique el código fuente y/o cualquier configuración o parametrización realizada por EL Proveedor para la correcta
                            operación de la aplicación. Al finalizar la vigencia de la licencia El Cliente no podrá generar ninguna responsabilidad alguna a EL Proveedor, por el correcto funcionamiento del mismo, conjuntamente, no podrá recibir, las actualizaciones,
                            versiones nuevas de El Negocio, hasta que El Cliente haga renovación de licencia, la misma no es trasferible.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading10" data-toggle="collapse" data-parent="#accordion" href="#collapse10" aria-expanded="false" aria-controls="collapse10">
                    <h4 class="panel-title"><i class="fa fa-envelope-o"></i>&nbsp;SLA</h4>
                </a>
                <div id="collapse10" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading10">
                    <div class="panel-body">
                        <p style="text-align: justify;">El servicio es basado en el Acuerdos de Niveles de Satisfacción (Service Level Agreement) se define el nivel operativo de funcionamiento, alcance y responsabilidades, así como penalizaciones por caída del servicio, entre otros
                            temas. Al contratar los servicios de El Negocio se describe de manera contractual un nivel específico de calidad en el suministro ya sea de mantenimientos correctivos (soporte), o como preventivo, para correcto cumplimiento
                            de la atención a El Cliente, se estable las siguientes niveles de soportes, cada requerimiento se establecerá en un nivel a conocer:</p>

                        <ol>
                            <li style="text-align: justify;">SLA 1 Asesoramiento: Para consultas de uso de El Negocio
                                <ol style="list-style-type:lower-alpha">
                                    <li>Horarios: Lunes a Vieres de 08:00 a.m. – 12:00 m y 01:00 p.m. – 05:00 p.m.</li>
                                    <li>Medio contacto: Email</li>
                                </ol>
                            </li>
                            <li style="text-align: justify;">SLA 2 Mantenimiento Preventivo y Soluciones de Errores de Servicio: se hace la validación que los servicios este funcionando correctamente,
                                <ol style="list-style-type:lower-alpha">
                                    <li>Horarios: 24 horas</li>
                                    <li>Medio contacto: email.</li>
                                </ol>
                            </li>
                            <li style="text-align: justify;">SLA 3 Reportes de Errores: Si algo no funciona correctamente.
                                <ol style="list-style-type:lower-alpha">
                                    <li>Horarios: Lunes a Vieres de 08:00 a.m. – 12:00 m y 01:00 p.m. – 05:00 p.m.</li>
                                    <li>Medio contacto: email, teléfono.</li>
                                </ol>
                            </li>
                            <li style="text-align: justify;">SLA 4 Diseño, Software, y relacionados: Si usted tiene una consulta, problema o inquietud sobre un software en su Sitio web&nbsp;
                                <ol style="list-style-type:lower-alpha">
                                    <li>Horarios: Lunes a Vieres de 08:00 a.m. – 12:00 m y 01:00 p.m. – 05:00 p.m.</li>
                                    <li>Medio contacto: email.</li>
                                </ol>
                            </li>
                        </ol>

                        <p style="text-align: justify;">Una vez recibido el SLA se estable la un numero de ticket y la criticidad por EL Proveedor,&nbsp; a conocer</p>

                        <ol>
                            <li style="text-align: justify;">Critica: Un error que impide el funcionamiento de El Negocio o acceder al mismo.</li>
                            <li style="text-align: justify;">Alta: Un error que permite que El Negocio funcione pero bloquean funciones del mismo que no afectan el core del producto.</li>
                            <li style="text-align: justify;">Media: Un error que no bloquea el funcionamiento de El Negocio, errores de presentación</li>
                            <li style="text-align: justify;">Baja: errores de ortografía o presentación de muy bajo impacto.</li>
                        </ol>

                        <p style="text-align: justify;">&nbsp;</p>

                        <p style="text-align: justify;">Para el reporte de errores durante la garantía, se debe hacer al siguiente correo electrónico: soporte@pedidosintegrales.com</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <p style="text-align: justify;">El correo debe tener la siguiente información:</p>

                        <p style="text-align: justify;">&nbsp;</p>

                        <ol>
                            <li style="text-align: justify;">Definiendo en el asunto, &nbsp;</li>
                            <li style="text-align: justify;">Resumen del problema,</li>
                            <li style="text-align: justify;">pasos a paso,</li>
                            <li style="text-align: justify;">captura de pantalla, video, etc.</li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading11" data-toggle="collapse" data-parent="#accordion" href="#collapse11" aria-expanded="false" aria-controls="collapse11">
                    <h4 class="panel-title"><i class="fa fa-ban"></i>&nbsp;Cancelación</h4>
                </a>
                <div id="collapse11" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading11" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align:justify">El Cliente podrá cancelar el Uso de la Licencia de El Negocio pagada en cualquier momento, dentro de la vigencia,&nbsp; la misma no quedará inactiva hasta finalizar dicha vigencia, el Cliente podrá acceder al Negocio y reactivarla,</p>

                        <p style="text-align:justify">En caso que la licencia pierde su vigencia, el Cliente solo tendrá acceso de solo lectura a la información, y exportar los datos, solo el usuario quien compra la licencia tendrá acceso, los demás mas usuarios no tendrá accesos.</p>

                        <p style="text-align:justify">La licencia quedará activa por los siguientes 30 (treinta) días calendario siguientes cuando finalice la licencia, para exportar la información, consultar o pagar otra nueva vigencia.</p>

                        <p style="text-align:justify">Una vez pasado los 30 (treinta) días No se podrá acceder a EL Negocio y la información será eliminada automáticamente.</p>
                    </div>
                </div>
            </div>

            <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="heading12" data-toggle="collapse" data-parent="#accordion" href="#collapse12" aria-expanded="false" aria-controls="collapse12">
                    <h4 class="panel-title"><i class="fa fa-check-square"></i>&nbsp;Propiedad Intelectual</h4>
                </a>
                <div id="collapse12" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading12" style="height: 0px;">
                    <div class="panel-body">
                        <p style="text-align:justify">El Cliente acepta y reconoce que los programas bajo licencia son secretos comerciales del PROVEEDOR, así como toda la información o documentación que le sea proporcionada y que haya sido identificada por este como confidencial.</p>

                        <p style="text-align:justify">El Cliente deber abstenerse de copiar con o sin fines de lucro los programas bajo licencia, dictando las medidas internas necesarias tendientes a la protección de los de autor de los propietarios de los programas bajo licencia.</p>

                        <p style="text-align:justify">El Cliente podrá obtener una copia de respaldo de los datos e información generada bajo licencia, la cual ser utilizable sólo en caso de pérdida total o parcial del programa original que impida su uso en los términos pactados en
                            la licencia.</p>

                        <p style="text-align:justify">&nbsp;</p>

                        <p style="text-align:justify">&nbsp;EL Proveedor , sin limitación de tiempo o territorio, los derechos patrimoniales de propiedad intelectual sobre el desarrollo objeto de este contrato y cualesquiera otros productos, análisis, informes, resultados, modelos,
                            plantillas, diseños y cualquier otro documento o información que EL Proveedor produzca en cumplimiento de es, de conformidad con lo establecido en el artículo 20 de la Ley 23 de 1982. Por lo tanto, se entiende que a EL Proveedor
                            podrá reproducir, modificar, comercializar en cualquier medio, o explotar de cualquier forma, sin limitación de tiempo o territorio, PedidoIntegrales.com desarrollados en virtud, sin que EL Proveedor le deba reconocer a El
                            Cliente. derechos patrimoniales de propiedad intelectual ni suma adicional alguna a la pactada en este contrato.</p>

                        <p style="text-align:justify">La Cliente &nbsp;no tendrá derecho de comercializar o sublicenciar en ninguna forma los programas de cómputo bajo licencia. Si dentro de las funciones de la ENTIDAD no se encuentran las de la prestación de servicios a terceros
                            a través de consulta de información, asesorías o procesamiento remoto de datos; ésta no podrá realizarlos con base en los programas bajo licencia, sin la autorización expresa y por escrito del PROVEEDOR.</p>
                    </div>
                </div>
            </div>

        </div>
        <!-- end of accordion -->
    </div>
</div>