<div class="x_panel">
    <div class="x_title">
        <h2>City</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- Product:FORM:init -->
        <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('name').valid && form.get('name').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <input formControlName="name" type="text" required="required" class="form-control" placeholder="Nombre" maxlength="20">
                        <div *ngIf="form.controls['name'].errors?.required" class="alert">Nombre requerida</div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="item form-group " [ngClass]="{ 'bad': !form.get('state').valid && form.get('state').dirty }">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="state">Departamento <span class="required">*</span></label>
                    <div class="col-md-9 col-sm-9 col-xs-12">
                        <select formControlName="state" type="text" required="required" class="form-control btn btn-primary">
                            <option *ngFor="let item of states" [value]="item._id" >
                                {{ item.name }}
                            </option>
                        </select>
                        <!-- <input formControlName="state" type="number" required="required" class="form-control text-right" placeholder="Departamento" maxlenght="2" max="99" min="1"> -->
                        <div *ngIf="form.controls['state'].errors?.required" class="alert">Departamento requerida</div>
                    </div>
                </div>
            </div>
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Estado <span class="required">*</span></label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <input formControlName="status" type="checkbox" class="flat">
                </div>
            </div>
            <button class="btn btn-primary" type="button" [routerLink]="['/city']">Nuevo</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Guardar</button>
        </form>
    </div>
</div>

<div class="x_panel">
    <div class="x_title">
        <h2>Ciudades Existentes</h2>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-4 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" #data class="form-control" (keyup)="search( data.value )" placeholder="buscar por...">
                    <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="search( data.value )"><i class="fa fa-search"></i></button>
                          </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- <p class="text-muted font-13 m-b-30">
            Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p> -->

        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Departamento</th>
                    <th>Status</th>
                    <th>Edición</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>{{ item.name }} </td>
                    <td>{{ item.state['name'] }} </td>
                    <td>
                        <a class="btn btn-success" *ngIf="item.status" (click)="inactive( item._id, item.status )"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger" *ngIf=" !item.status " (click)="active( item._id, item.status )"><i class="fa fa-remove"></i></a></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/city', item._id ]"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                Total: ({{ totalRecords | number }})
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(-10) " class="btn btn-block btn-default ">Anterior</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(10) " class="btn btn-block btn-default ">Siguientes</button>
            </div>
        </div>
    </div>
</div>