<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> Seleccionar la Línea </h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="form-group">
            <div class="item form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="line">Línea <span class="required">*</span></label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" [(ngModel)]="LinesSelected" (change)="onColumnSelect(LinesSelected)" multiple>
                        <option  *ngFor="let item of lines; let i = index;" [ngValue]="item._id" [selected]="selectedColumns[i]?.name == item.name">
                        {{ item.name }}
                        </option>
                    </select>
                    <div class="bg-info">Para seleccionar varios precionar las teclas <b>Ctr + Clic</b> en cada uno de la lista</div>
                </div>
            </div>
        </div>


    </div>
</div>
<div class="x_panel" *ngxPermissionsOnly="['_ADMIN_', '_GERENTE_']">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> Exportar Catalogo de Productos en EXCEL </h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ul>
            <li>Se important los productos que están activos</li>
            <li>Se importan los productos que tengám existencia en el inventario</li>
        </ul>
        <div *ngIf="!loading_excel">
            <p> <button (click)="exportProductExcel()" class="btn btn-primary"><i class="fa fa-file-excel-o"></i> Click en Botón para exportar todos los productos a Excel</button></p>
        </div>
        <div *ngIf="loading_excel">
            <p>Se inició la generación del archivo de excel, este puede tardar unos segundos, al finalizar debe dar aceptar en la ventana para descargar el archivo</p>
            <p class="text-success text-center"><i class="fa fa-spinner fa-4x fa-spin"></i> generando archivo de excel <i class="fa fa-file-excel-o fa-2x"></i>...</p>
        </div>


    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> Exportar Catálogo de Productos en PDF </h2>
        <ul class="nav navbar-right panel_toolbox">
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <ul>
            <li>Se important los productos que están activos</li>
            <li>Se importan los productos que tengám existencia en el inventario</li>
        </ul>
        <div *ngIf="!loading_pdf">
            <P>Escriba el email que desea enviar una copia del Catalgo de Productos</P>
            <div class="row">
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <input type="email" name="email" #data class="form-control" (keyup)="sendEmail( data.value )" placeholder="nombre@dominio.com">
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-2" *ngIf="email">
                    <p>Copia para <b class="text-danger">{{ email }}</b></p>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <button (click)="exportPDF(false)" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o"></i> Clic Gnerar PDF sin imagen</button>
                </div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    <button (click)="exportPDF()" class="btn btn-primary btn-block"><i class="fa fa-file-pdf-o"></i> <i clss="fa fa-image-o"></i> Clic Gnerar PDF con imagen</button>
                </div>
            </div>
        </div>
        <div *ngIf="urlPDF">
            <a class="btn btn-success" [href]="urlPDF" target="_blank"><i class="fa fa-download"></i> Clic para descargar el PDF</a>
        </div>
        <div *ngIf="loading_pdf">
            <p>Se inició la generación del archivo PDF, este puede tardar unos segundos, al finalizar debe dar clic en lo botón verde para descargar el archivo </p>
            <p class="text-success text-center"><i class="fa fa-spinner fa-4x fa-spin"></i> generando archivo PDF <i class="fa fa-file-pdf-o fa-2x"></i>...</p>
        </div>
    </div>
</div>