<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-bars"></i> Productos </h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">

        <!-- Product:FORM:init -->
        <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
            <div class="form-group">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('sku').valid && form.get('sku').dirty && form.get('sku').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sku">Referencia <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input formControlName="sku" type="text" required="required" class="form-control" placeholder="Referencia">
                            <div *ngIf="form.controls['sku'].errors?.required" class="alert">Referencia requerida</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('barcode').valid && form.get('barcode').dirty && form.get('barcode').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="barcode">Barcode <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input formControlName="barcode" type="text" required="required" class="form-control" placeholder="Código de Barra">
                            <div *ngIf="form.controls['barcode'].errors?.required" class="alert">Barcode requerido</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('name').valid && form.get('name').dirty && form.get('name').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input formControlName="name" type="text" required="required" class="form-control" placeholder="Nombre">
                            <div *ngIf="form.controls['name'].errors?.required" class="alert">El nombre es requerido</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('type').valid && form.get('type').dirty && form.get('type').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="type">Tipo <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="type" type="text" required="required" class="form-control btn-primary">
                            <option *ngFor="let type of types" [value]="type._id" >
                                {{ type.name }}
                            </option>
                        </select>
                            <div *ngIf="form.controls['type'].errors?.required" class="alert">Seleccinar un tipo</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('line').valid && form.get('line').dirty && form.get('line').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="line">Línea <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="line" type="text" required="required" class="form-control btn-primary">
                            <option *ngFor="let line of lines" [value]="line._id" >
                                {{ line.name }}
                            </option>
                        </select>
                            <div *ngIf="form.controls['line'].errors?.required" class="alert">Seleccinar una línea</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('brand').valid && form.get('brand').dirty && form.get('brand').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="brand">Marca <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="brand" type="text" required="required" class="form-control btn btn-info">
                            <option *ngFor="let brand of brands" [value]="brand._id" >
                                {{ brand.name }}
                            </option>
                        </select>
                            <div *ngIf="form.controls['brand'].errors?.required" class="alert">Seleccinar una Marca</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('condition').valid && form.get('condition').dirty && form.get('condition').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="line">Condición <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="condition" type="text" required="required" class="form-control btn-primary">
                                <option *ngFor="let condition of conditions" [value]="condition._id" >
                                    {{ condition.name }}
                                </option>
                            </select>
                            <div *ngIf="form.controls['condition'].errors?.required" class="alert">Seleccinar una Condición</div>
                        </div>
                    </div>
                    <div *ngIf="model.img">
                        <cl-image (click)="cambiarFoto()" public-id="{{ model.img }}" class="thumbnail inline img-fluid" format="jpg">
                            <cl-transformation height="150" width="150" crop="fill"></cl-transformation>
                        </cl-image>
                    </div>
                    <div *ngIf="!model.img">
                        <button (click)="cambiarFoto()">Clic Subir Imagen</button>
                    </div>
                </div>

                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                    <!-- <div class="item form-group" [ngClass]="{ 'bad': !form.get('price').validate }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Descripción <span class="required">*</span></label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea formControlName="description" required="required" class="form-control" placeholder="Descripción" rows="3"></textarea>
                            <div *ngIf="form.controls['description'].errors?.required" class="alert">Descripción es requerido</div>
                        </div>

                    </div> -->

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="code">Código</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="code" type="text" class="form-control" placeholder="Código adicional">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Etiqueta Oferta</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input formControlName="sticker_sell" type="text" class="form-control" placeholder="Etiquetas para ofertas" maxlength="9">
                        </div>
                    </div>

                    <div class="item form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="sticker_color">Etiqueta Descuento Color</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select formControlName="sticker_color" class="form-control">
                                <option value="red" >Rojo</option>
                                <option value="green">Verde</option>
                                <option value="blue">Azul</option>
                                <option value="blue-sky">Azul Cielo</option>
                                <option value="dark">Negro</option>
                                <option value="orange">Naranja</option>
                                <option value="purple">Morado</option>
                            </select>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('category').valid && form.get('category').dirty && form.get('category').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="line">Categorias <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <select formControlName="category" type="text" required="required" class=" form-control"> 
                            <option *ngFor="let category of categories" [value]="category._id" >
                                {{ category.name }}
                            </option>
                        </select>
                            <div *ngIf="form.controls['category'].errors?.required" class="alert">Seleccinar una Categoria</div>
                        </div>
                    </div>

                    <div class="item form-group " [ngClass]="{ 'bad': !form.get('price').valid && form.get('price').dirty && form.get('price').dirty }">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Precio <span class="required">*</span></label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input formControlName="price" type="number" required="required" class="form-control text-right" placeholder="9999">
                            <div *ngIf="form.controls['price'].errors?.required" class="alert">Precio $</div>
                        </div>
                    </div>
                    <div class="item form-group ">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="price">Cantidad</label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                            <input formControlName="stock" type="number"  class="form-control text-right">
                        </div>
                    </div>
                </div>

            </div>

            <button class="btn btn-primary" type="button" [routerLink]="['/product']">Nuevo</button>
            <button type="submit" [disabled]="form.invalid" class="btn btn-success">Guardar</button>

        </form>
        <!--Product:FORM:end -->
    </div>
</div>


<div class="x_panel">
    <div class="x_title">
        <h2>Productos Existentes</h2>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-4 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" #data class="form-control" (keyup)="search( data.value )" placeholder="buscar por...">
                    <span class="input-group-btn"(click)="search(data.value)">
                            <button class="btn btn-default" type="button" (click)="search( data.value )"><i class="fa fa-search"></i></button>
                          </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- <p class="text-muted font-13 m-b-30">
            Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
        </p> -->

        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Imagen</th>
                    <th>Ref.</th>
                    <th>Nombre</th>
                    <th>Código</th>
                    <th>Stock</th>
                    <th>Status</th>
                    <th>Edición</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>
                        <cl-image public-id="{{ item.img }}" secure="true" width="100px" height="100px">
                        </cl-image>
                    </td>
                    <td>{{ item.sku }}</td>
                    <td>{{ item.name }} </td>
                    <td>{{ item.barcode }} </td>
                    <td class="text-right">{{ item.stock | number:'0.0-0' }} </td>
                    <td>
                        <a class="btn btn-success" *ngIf="item.status" (click)="inactive( item._id, item.status )"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger" *ngIf=" !item.status " (click)="active( item._id, item.status )"><i class="fa fa-remove"></i></a></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/' + table , item._id ]"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                Total: ({{ totalRecords | number }})
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(-10) " class="btn btn-block btn-default ">Anterior</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(10) " class="btn btn-block btn-default ">Siguientes</button>
            </div>
        </div>
    </div>
</div>