<div class="fondo-negro animated fadeIn" [ngClass]="_modalUploadService.oculto">

    <div class="modal" style="display: block;" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Subir Imagen</h5>
                    <button (click)="cerrarModal()" type="button" class="close" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
                </div>
                <div class="modal-body text-center">

                    <cl-image *ngIf="!imagenTemp" public-id="no-image" class="inline img-fluid img-responsive" format="jpg">
                        <cl-transformation width="200" height="200" crop="scale">
                        </cl-transformation>
                    </cl-image>
                    <img *ngIf="imagenTemp" [src]="imagenTemp" class="img-responsive">

                    <input (change)="seleccionImage($event.target.files[0])" type="file">




                </div>
                <div class="modal-footer">
                    <button (click)="subirImagen()" [disabled]="!imagenTemp && btnSubir" type="button" class="btn btn-primary">Subir imagen</button>
                    <button (click)="cerrarModal()" type="button" class="btn btn-secondary">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

</div>