<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>Tipo</th>
            <th>Linea</th>
            <th>REF</th>
            <th>Nombre</th>
            <th>Marca</th>
            <th>Barcode</th>
            <th>Precio</th>
            <th>Cantidad</th>
            <th>Categoria</th>
            <th>Condición</th>
            <th>Estado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Products; let i=index">
            <td> {{ i + 1}} </td>
            <td> {{ item.type }} </td>
            <td> {{ item.line }} </td>
            <td> {{ item.sku }} </td>
            <td> {{ item.name }} </td>
            <td> {{ item.brand }} </td>
            <td> {{ item.barcode }} </td>
            <td class="text-right"> {{ item.price | currency:'COP':'$':'0.0' }} </td>
            <td class="text-right"> {{ item.stock | number }} </td>
            <td> {{ item.category }} </td>
            <td> {{ item.condition }} </td>
            <td> {{ item.status }} </td>
        </tr>
    </tbody>
</table>