<div class="x_panel">
    <div class="x_title">
        <h2>Importar {{ type }}</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div *ngIf=" type === 'client' ">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <label>Zonas: </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <select id="zoneSelect" class="btn btn-dark">
                        <option value="">Seleccionar Zona</option>
                        <option *ngFor="let item of zones" [value]=" item._id "  >
                            {{ item.name }}
                        </option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="documentsTotal > 0">
            <div class="alert alert-warning" role="alert">
                <h4 class="alert-heading">Importante</h4>
                <p>Para poder actualizar el Inventario debe finalizar los pedidos que estan pendientes</p>
                <p class="mb-0"></p>
            </div>
            <table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">
                <thead>
                    <tr class="bg-primary">
                        <th>#</th>
                        <th>Pedido</th>
                        <th>Cliente</th>
                        <th>Estado</th>
                        <th>Creado</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of documentos; let i=index">
                        <td>{{ i + 1 }}</td>
                        <td class="text-center">
                            <a [routerLink]="['/doc/pedido/', item._id]" class="btn btn-primary">{{ item.number }} </a>
                        </td>
                        <td>{{ item.client.name }}</td>
                        <td>{{ item.status.name }}</td>
                        <td>{{ item.user.name }} {{ item.user.lastname }}</td>
                        <td>{{ item.date | date:'mediumDate' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row" [ngClass]="{hidden: documentsTotal > 0}">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Seleccionar Archivo <i class="fa fa-file-excel-o fa-2x"></i> Excel</label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input (change)="selectFile($event.target.files[0])" type="file">
            </div>
        </div>
        <hr>
        <button (click)="subirImagen()" *ngIf="upload" type="button" [ngClass]="{hidden: documentsTotal > 0}" class="btn btn-primary">Subir información</button>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Procesos de la Importación de Archivo</h2><a *ngIf="!process" class="btn btn-primary" href="{{ fileUrl }}" target="_blank"><i class="fa fa-file-excel-o"></i></a>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row text-center text-primary" *ngIf="process">
            <i class="fa fa-spin fa-3x fa-spinner"></i>
            <h2>
                Se inicio el procesos de importación, este puede tomar mas tiempo de lo esperado
            </h2>
            <h2>Ud. podrá seguir usando el sistema, el procesos de importación no se detendrá,</h2>
            <h3>Ud. recibirá un email detallado cuando finalice el proceso.</h3>
        </div>
        <app-import-client [Clients]="clients" *ngIf="clientsShow"></app-import-client>
        <app-import-product [Products]="products" *ngIf="productShow"></app-import-product>
        <app-import-bill [Bills]="bill" *ngIf="billShow"></app-import-bill>
    </div>
</div>