<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr class="text-center">
            <th>#</th>
            <th>Actualizado</th>
            <th>Number</th>
            <th>Fecha de Pago</th>
            <th>Pedidos</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Bills; let i=index">
            <td> {{ i + 1}} </td>
            <td class="text-center">
                <i class="fa fa-check fa-2x text-success" *ngIf="item.result"></i>
                <i class="fa fa-ban fa-2x text-danger" *ngIf="!item.result"></i>
            </td>
            <td class="text-right"> {{ item.bill }} </td>
            <td class="text-center"> {{ item.date | date:'d/MM/yyyy' }} </td>
            <td>
                <ul>
                    <li *ngFor="let item of item.doc">
                        Pedido: {{item.doc }} - {{item.status }}
                    </li>
                </ul>
            </td>
        </tr>
    </tbody>
</table>