<table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>#</th>
            <th>RUT</th>
            <th>Sucursal</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Celular</th>
            <th>Ciudad</th>
            <th>Departamento</th>
            <th>Estatus</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of Clients; let i=index">
            <td>{{ i + 1 }}</td>
            <td>{{ item.code }}</td>
            <td>{{ item.correlative }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.address }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.mobil }}</td>
            <td>{{ item.city }}</td>
            <td>{{ item['state'] }}</td>
            <td>{{ item.status }}</td>
        </tr>
    </tbody>
</table>