<div class="x_panel">
    <div class="x_title">
        <h2>Importar Imagenes para Prodcutos</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <label>Seleccionar Varios archivos tipo Imagen <i class="fa fa-file-image-o fa-2x"></i></label>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <input (change)="selectFile($event.target.files)" type="file" multiple="multiple">
                <!-- <input (change)="selectFile($event.target.files[0])"  (change)="getFileDetails($event) type="file" multiple="multiple"> -->
            </div>
        </div>
        <hr>
        <button (click)="subirImagen()" type="button" *ngIf="upload" class="btn btn-primary">Subir imagen</button>
    </div>
</div>
<div class="x_panel">
    <div class="x_title">
        <h2>Procesos de la Importación de Archivo</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row text-center text-primary" *ngIf="process">
            <i class="fa fa-spin fa-3x fa-spinner"></i>
            <h2>
                Se inicio el procesos de importación, este puede tomar mas tiempo de lo esperado
            </h2>
            <h2>Ud. podrá seguir usando el sistema, el procesos de importación no se detendrá,</h2>
            <h3>Ud. recibirá un email detallado cuando finalice el proceso.</h3>
        </div>
    </div>
    <table class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
        <thead>
            <tr>
                <td>#</td>
                <th>Actualizado</th>
                <th>Archivo</th>
                <th>Extensión</th>
                <th>Producto</th>
                <th>REF</th>
                <th>Imagen</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of result; let i = index;">
                <td>{{ i + 1 }}</td>
                <td class="text-center"><i class="fa fa-check success fa-2x text-success" *ngIf="item.result"></i> <i *ngIf="!item.result" class="fa fa-ban fa-2x text-danger"></i></td>
                <td>{{ item.file }}</td>
                <td>{{ item.extesion }}</td>
                <td>{{ item.product.name }}</td>
                <td>{{ item.product.sku }}</td>
                <td>
                    <cl-image public-id="{{ item.cloudinary.public_id }}" width="100px" height="100px" secure="true" class="catalog-img img-responsive">
                    </cl-image>
                </td>
            </tr>
        </tbody>
    </table>
</div>