<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li *ngFor="let menu of menu">
                <a [routerLink]="[menu.url]">
                    <i [class]="menu.icon"></i>{{ menu.name }} <span class="fa fa-chevron-down"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
        <ul class="nav side-menu">
            <li *ngFor="let menu of menu">
                <a>
                    <i [class]="menu.icon"></i>{{ menu.name }} <span class="fa fa-chevron-down"></span>
                </a>
                <ul class="nav child_menu">
                    <li *ngFor="let submenu1 of menu.submenu">
                        <a>{{ submenu1.name }} <span class="fa fa-chevron-down"></span>
                        </a>
                        <ul class="nav child_menu">
                            <li *ngFor="let submenu2 of submenu1.submenu">
                                <a [routerLink]="[submenu2.url]" routerLinkActive="active"> {{ submenu2.name }} </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div> -->