<form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-inline form-label-left" novalidate>
    <div class="row">
        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-12">
                <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('password').valid && form.get('password').dirty }">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="tax">Contraseña <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input formControlName="password" type="password" new-password required="required" class="form-control has-feedback-left" placeholder="Contraseña" min="4" maxlength="10">
                                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['password'].errors?.required" class="alert">Contraseña requerido</div>
                                <div *ngIf="form.controls['password'].errors?.min" class="alert">Min 4 carácteres</div>
                            </div>
                        </div>
                    </div>            
        </div>
        <div class="col-xs-12 col-md-6 col-sm-6 col-lg-12">
                <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('password2').valid && form.get('password2').dirty }">
                            <label class="control-label col-md-4 col-sm-4 col-xs-12" for="tax">Repetir Contraseña <span class="required">*</span></label>
                            <div class="col-md-8 col-sm-8 col-xs-12">
                                <input formControlName="password2" type="password" new-password required="required" class="form-control has-feedback-left" placeholder="Contraseña" min="4" maxlength="10">
                                <span class="fa fa-key form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['password2'].errors?.required" class="alert">Contraseña requerido</div>
                                <div *ngIf="form.controls['password2'].errors?.min" class="alert">Min 4 caracteres</div>
                                <div *ngIf="form.errors?.comparePassword && !form.pristine" class="alert">Contraseña no coniciden</div>
                            </div>
                        </div>
                    </div>
        </div>

        <button type="submit" [disabled]="form.invalid" class="btn btn-danger btn-block">Actualizar conraseñas</button>
    </div>
</form>