<form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
    <div class="x_panel">
        <div class="x_title">
            <h2>Eqipo</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <!-- Product:FORM:init -->
            
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('name').valid && form.get('name').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Nombre <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="name" type="text" required="required" class="form-control has-feedback-left" placeholder="Nombre" maxlength="50">
                                <span class="fa fa-user form-control-feedback left text-primary" aria-hidden="true"></span>
                                <div *ngIf="form.controls['name'].errors?.required" class="alert">Nombre requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('lastname').valid && form.get('lastname').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Apellido <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="lastname" type="text" required="required" class="form-control has-feedback-left" placeholder="Apellido" max="50">
                                <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['lastname'].errors?.required" class="alert">Apellido requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('email').valid && form.get('email').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Email <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input formControlName="email" type="text" required="required" class="form-control has-feedback-left" placeholder="Email" max="60">
                                <span class="fa fa-envelope form-control-feedback left" aria-hidden="true"></span>
                                <div *ngIf="form.controls['email'].errors?.required" class="alert">email requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('role').valid && form.get('role').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Rol <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select formControlName="role" required="required" #Role (change)="roleSelect(Role.value)" class="form-control has-feedback-left">
                                            <option value="">Seleccionar</option>
                                            <option *ngFor="let item of role" [value]="item.name">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                <div *ngIf="form.controls['role'].errors?.required" class="alert">Rol requerido</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('zone').valid && form.get('zone').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Zonas <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select formControlName="zone" required="required" class="form-control has-feedback-left" multiple>
                                            <option *ngFor="let item of zone" [value]="item._id">
                                                {{ item.name }}
                                            </option>
                                        </select>
                                <div *ngIf="form.controls['zone'].errors?.required" class="alert">Zona requerida</div>
                            </div>
                        </div>
                    </div>
                    <div class="alert alert-info" role="alert" *ngIf="isClient" >
                        <i class="fa fa-info-circle"></i> El usuario es de Rol _CLIENTE_ debe seleccionar "Sin Zona", para que este no vea mas clientes
                    </div>
                </div>
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <div class="form-group">
                        <div class="item form-group " [ngClass]="{ 'bad': !form.get('company').valid && form.get('company').dirty }">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12" for="tax">Empresa <span class="required">*</span></label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <select formControlName="company" required="required" class="form-control has-feedback-left" multiple>
                                    <option *ngFor="let item of company" [value]="item._id">
                                        {{ item.name }}
                                    </option>
                                </select>
                                <div *ngIf="form.controls['company'].errors?.required" class="alert">Empresa requerida</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                        <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="status">Estado <span class="required">*</span></label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <input formControlName="status" type="checkbox" class="flat">
                                </div>
                            </div>
                </div>
                <div class="col-xs-12 col-sx-6 col-sm-6 col-lg-6">
                    <hr>
                    

                </div>
            </div>
        </div>
    </div>

    <div class="x_panel">
        <div class="x_title">
            <h2>Cambio de Contraseña</h2>
            <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <app-password *ngIf="!create" [UserID]="model._id"></app-password>
        </div>
    </div>


    <app-search-client-id *ngIf="isClient" [id]="client" [isClient]="isClient"></app-search-client-id>

    <app-search-client *ngIf="isClient"  (clientVerify)="clientVerify($event)"></app-search-client>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button class="btn btn-primary btn-block" type="button" [routerLink]="['/team' ]">Nuevo</button>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-block">Guardar</button>
        </div>
    </div>
</form>
<br>
<div class="x_panel">
    <div class="x_title">
        <h2>Usuarios Existentes</h2>
        <div class="title_right">
            <div class="col-md-4 col-sm-4 col-xs-4 form-group pull-right top_search">
                <div class="input-group">
                    <input type="text" #data class="form-control" (keyup)="search( data.value )" placeholder="buscar por...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="search( data.value )"><i class="fa fa-search"></i></button>
                      </span>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <!-- <p class="text-muted font-13 m-b-30">
        Responsive is an extension for DataTables that resolves that problem by optimising the table's layout for different screen sizes through the dynamic insertion and removal of columns from the table.
    </p> -->

        <table id="" class="table table-striped table-bordered dt-responsive nowrap" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Email</th>
                    <th>Rol</th>
                    <th>Status</th>
                    <th>Edición</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of records">
                    <td>
                        <cl-image public-id="{{ item.avatar }}" secure="true" width="100px" height="100px">
                        </cl-image>
                    </td>
                    <td>{{ item.name }} {{ item.lastname }} </td>
                    <td>{{ item.email }} </td>
                    <td>{{ item.role }} </td>
                    <td>
                        <a class="btn btn-success" *ngIf="item.status" (click)="inactive( item._id, item.status )"><i class="fa fa-check"></i></a>
                        <a class="btn btn-danger" *ngIf=" !item.status " (click)="active( item._id, item.status )"><i class="fa fa-remove"></i></a></td>
                    <td>
                        <a class="btn btn-primary" [routerLink]="['/team' , item._id ]"><i class="fa fa-edit"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                Total: ({{ totalRecords | number }})
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(-10) " class="btn btn-block btn-default ">Anterior</button>
            </div>
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <button (click)="chageFrom(10) " class="btn btn-block btn-default ">Siguientes</button>
            </div>
        </div>
    </div>
</div>