<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Pedido Nro: {{ document?.number }}
                </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <section class="content invoice">
                    <!-- title row -->
                    <div class="row">
                        <div class="col-xs-12 invoice-header">
                            <h2>
                                {{ document?.client['name'] }}
                                <span class="pull-right">Estado: <b class="bg-{{ document?.status['color'] }}">&nbsp;<i class="{{ document?.status['icon'] }}"></i> {{ document?.status['name'] }}&nbsp;</b></span>
                            </h2>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- info row -->
                    <div class="row invoice-info">
                        <div class="col-sm-4 invoice-col">
                            <address>
                                <strong>NIT: {{ document?.client['code'] }} <span class="badge badge-info bg-blue">{{ document?.client['correlative'] }}</span></strong>
                                <br>{{document?.client['address'] }}
                                <br><span class="label label-primary">{{ document?.client['city']['name'] }}, {{ document?.client['city']['state']['name'] }}</span>
                                <br>
                                <span class="label label-warning">
                                  {{ document?.client['zone']['name'] }}
                                </span>
                              </address>
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <b>Datos de creación</b>
                            <div class="row">
                                <div class="col-lg-2 col-md-2 col-sm-2 hidden-xs">
                                    <cl-image public-id="{{ document?.user['avatar'] || 'avatar' }}" secure="true" width="30px" height="30px">
                                    </cl-image>
                                </div>
                                <div class="col-lg-10 col-md-10 col-sm-10 col-xs-12">
                                    {{ document?.user['name'] }} <br> {{ document?.user['lastname'] }}
                                </div>
                            </div>
                            <b>Fecha:</b> {{ document?.date | date:'mediumDate' }}
                            <br><b>Hora:</b> {{ document?.date | date:'shortTime' }}
                        </div>
                        <!-- /.col -->
                        <div class="col-sm-4 invoice-col">
                            <div *ngIf="roleProduct.indexOf(user.role) > -1 ">
                                <a [routerLink]="['/catalog']" class="btn btn-primary"><i class="fa fa-cart-plus"></i> Agregar más productos</a>
                                <a [routerLink]="['/catalog/simple']" class="btn btn-primary"><i class="fa fa-barcode"></i> Agregar más productos código barras</a>
                            </div>
                            <div *ngIf="document?.status['note']" [innerHTML]="document.status['note'] | keepHTML">
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                    <!-- Table row -->
                    <p class="lead">Productos</p>
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">
                                <!--<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">-->
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Img</th>
                                        <th>Código</th>
                                        <th>REF</th>
                                        <th>Descripción</th>
                                        <th>Marca</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody [ngClass]="{'hidden': !lodaing}">
                                    <tr>
                                        <td colspan="9" class="text-center"><i class="fa fa-spin fa-4x fa-cog"></i> cargando registros...</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!lodaing" [ngClass]="{'hidden': lodaing}">
                                    <tr *ngFor="let detail of details; let i=index">
                                        <td>{{ from + i + 1 }}</td>
                                        <td>
                                            <cl-image public-id="{{ detail.product['img'] }}" secure="true" width="100px" height="100px">
                                            </cl-image>
                                        </td>
                                        <td>{{ detail?.product?.barcode }}</td>
                                        <td>{{ detail?.product?.sku }}</td>
                                        <td>{{ detail?.product?.name }}</td>
                                        <td>{{ detail?.product?.brand?.name }}</td>
                                        <td class="text-right">{{ detail.price | number:'0.0-0' }}</td>
                                        <td class="text-right" *ngIf="!document?.status['edit']">
                                            <div *ngIf="document?.status['showStock']">
                                                <ng-template [ngxPermissionsOnly]="['_ADMIN_','_GERENTE_']" [ngxPermissionsOnlyThen]="thenBlock" [ngxPermissionsOnlyElse]="elseBlock"></ng-template>
                                                <ng-template #thenBlock>
                                                    <div class="input-group">
                                                        <input type="number" id="prod-{{ detail._id }}" #prod class="form-control text-right _detail" max="999" min="1" value="{{ detail.quantity }}">
                                                        <span class="input-group-btn">
                                                                        <button type="button" class="btn" [ngClass]="{'btn-success': detail.inventory, 'btn-primary': !detail.invetory }"  (click)="chageQuantitySotck(detail.product['_id'],  detail.quantity, prod.value, detail._id, detail?.product['stock'] )" ><i class="fa fa-check"></i></button>
                                                                        <button type="button" class="btn btn-danger" (click)="deleteDeatil(detail._id, detail)" ><i class="fa fa-trash"></i></button>
                                                                    </span>
                                                    </div>
                                                    <span class="pull-left label label-primary">Sol: {{ detail?.quantity | number:'0.0-0' }} </span>
                                                    <span class="pull-left label" [ngClass]="{'label-success': detail?.product['stock'] > 0, 'label-danger': detail?.product['stock'] <= 0}">Ext: {{ detail?.product['stock'] | number:'0.0-0' }} </span>
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    {{ detail.quantity }}
                                                </ng-template>
                                            </div>
                                            <div>
                                                {{ detail.quantity }}
                                            </div>
                                        </td>
                                        <td class="text-right" *ngIf="document?.status['edit']">
                                            <div class="input-group" *ngIf="!document?.status['showStock']">
                                                <input type="number" id="prod-{{ detail._id }}" (change)="chageQuantity(detail._id, $event.srcElement.value)" class="form-control text-right _detail" max="999" min="1" [value]="detail.quantity">
                                                <span class="input-group-btn">
                                                      <button type="button" class="btn btn-primary" ><i class="fa fa-save"></i></button>
                                                      <button type="button" class="btn btn-danger" (click)="deleteDeatil(detail._id, detail)" ><i class="fa fa-trash"></i></button>
                                                    </span>
                                            </div>
                                        </td>
                                        <td class="text-right">
                                            {{ detail.quantity * detail.price | number:'0.0-0' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                                    Total: ({{ totalRows | number }})
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button (click)="chageFrom(-15) " class="btn btn-block btn-default ">Anterior</button>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button (click)="chageFrom(15) " class="btn btn-block btn-default ">Siguientes</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->

                    <div class="row">

                        <!-- accepted payments column -->
                        <div class="col-xs-6">
                            <ng-template [ngxPermissionsOnly]="['_ADMIN_','_GERENTE_','_BODEGA_']">
                                <app-delivey *ngIf="document?.status['delivery']" [document]="document?._id" (getTotal)="getDocument()"></app-delivey>
                            </ng-template>

                            <hr *ngIf="document?.status['delivery']">
                            <p class="lead">Enviar información:</p>
                            <app-document-pdf [document]="document?._id"></app-document-pdf>
                        </div>
                        <!-- /.col -->
                        <div class="col-xs-6">
                            <p class="lead">Totales</p>
                            <div class="table-responsive">
                                <table class="table">
                                    <tbody>
                                        <tr>
                                            <th style="width:70%">Subtotal:</th>
                                            <td class="text-right">{{ totals?.sum | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr>
                                            <th> Descuento: ({{ discounts?.discount }}%)
                                                <select class="btn btn-dark" (change)="changeDiscount($event.srcElement.value)" *ngIf="document?.status['applyDiscount'] ">
                                                    <option value="">Cambiar %</option>
                                                    <option *ngFor="let item of des" [value]=" item._id "  >
                                                        {{ item.name }}
                                                    </option>
                                                </select>
                                            </th>
                                            <td class="text-right text-danger">-{{ totals?.discount| number:'0.0-0' }}</td>
                                        </tr>
                                        <tr *ngFor="let delivery of deliveries">
                                            <th> {{ delivery?.company }}</th>
                                            <td class="text-right">{{ delivery?.price | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr *ngFor="let tax of taxes">
                                            <th> {{ tax.name }} ({{ tax.tax }}%) </th>
                                            <td class="text-right">{{ ((tax.tax)/100) * ((totals?.sum - totals?.discount ) + totals?.delivery ) | number:'0.0-0' }}</td>
                                        </tr>
                                        <tr>
                                            <th>Total:</th>
                                            <td class="text-right"> <b>{{ totals?.total | number:'0.0-0'}} </b></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- this row will not appear when printing -->
                            <div class="row no-print">
                                <div class="col-xs-12 text-right">
                                    <button class="btn btn-{{ document?.status['color'] }}" *ngIf="document?.status['_id'] !== document?.status['next'] && role.indexOf(user.role) > -1 " (click)="nextStep(document?.status['next'])"><i class="{{ document?.status['icon']}}"></i>  {{ document?.status['message'] }} </button>
                                    <button *ngFor="let item of document?.status['buttom']" class="btn btn-{{ item.color }}" (click)="nextStep(item._id)">
                                        <i class="{{ item.icon}}"></i>  
                                        {{ item.name }} 
                                    </button>
                                    <!-- <a class="btn btn-default" target="_blank" [routerLink]="['/doc/imp/', document._id ]"><i class="fa fa-print"></i> Imprimir</a> -->
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </section>
            </div>
        </div>
    </div>
</div>
<ng-template [ngxPermissionsOnly]="['_ADMIN_','_GERENTE_']">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Facturas Asociadas</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="#">Settings 1</a>
                                </li>
                                <li><a href="#">Settings 2</a>
                                </li>
                            </ul>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- Bill row -->
                    <div class="row">
                        <app-document-relate *ngIf="document?.status['billAssociated']" [document]="document._id" [billShow]="document?.status['billShow']" [billForm]="document?.status['billForm']"></app-document-relate>
                    </div>
                    <!-- /.Bill row -->
                </div>
            </div>
        </div>
    </div>
</ng-template>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Comentarios</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <app-comment-group [row]="id" type="document"></app-comment-group>
            </div>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Novedades </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <app-log [id]="id" [entity]="'document'"></app-log>
            </div>
        </div>
    </div>
</div>