<app-search-client (clientVerify)="clientVerify($event)" *ngIf="!User.client" ></app-search-client>
<app-search-client-id *ngIf="User.client" [id]="User.client"></app-search-client-id>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Filtros ( <b class="text-success">{{ totalRecords | number }}</b> )</h2>
                <div class="title_right">
                    <div class="col-md-4 col-sm-4 col-xs-6 form-group pull-right top_search">
                        <div class="input-group">
                            <input type="text" #input class="form-control" (keyup)="searching( input.value )" placeholder="Buscar productos por...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button" (click)="searching( input.value )"><i class="fa fa-search"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <form class="form-horizontal form-label-left">
                    <div class="form-group">

                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>Línea</label>
                                <select type="text" #line (change)="changeLine(line.value)" class="form-control btn-primary">
                                     <option value="">Seleccionar</option>
                                    <option *ngFor="let line of lines" [value]="line._id" >
                                        {{ line.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>Marca</label>
                                <select #brand (change)="changeBrand(brand.value)" type="text" class="form-control btn-primary">
                                    <option value="">Seleccionar</option>
                                    <option *ngFor="let brand of brands" [value]="brand._id" >
                                        {{ brand.name }}
                                    </option>
                                </select>
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                                <label>Categoría</label>
                                <select type="text" #category (change)="changeCategory(category.value)" class="form-control btn-primary">
                                     <option value="">Seleccionar</option>
                                    <option *ngFor="let category of categories" [value]="category._id" >
                                        {{ category.name }}
                                    </option>
                                </select>
                            </div>

                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row text-center" *ngIf="loading">
    <i class="fa fa-spinner fa-4x fa-spin"></i> buscando productos...
</div>


<div [ngClass]="{ 'row': i === 0 }" *ngIf="!loading">
    <div class="col-md-3 col-xs-12 widget widget_tally_box" *ngFor="let product of products; let i = index;">
        <div class="x_panel ui-ribbon-container fixed_height_500">
            <div class="ui-ribbon-wrapper" *ngIf="product.sticker_sell">
                <div class="ui-ribbon bg-{{ product.sticker_color }}">
                    {{ product.sticker_sell }}
                </div>
            </div>
            <div class=" x_title_product">
                {{ product.name }}
                <div class="clearfix "></div>
            </div>
            <div class="x_content ">
                <p class="name_title"><b>{{ product?.line?.name }}</b></p>
                <div class="catalog-product">
                    <cl-image public-id="{{ product.img }}" style=" display: block;
                    position: absolute;
                    max-width: 100%;
                    max-height: 100%;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;" secure="true" class="catalog-img img-responsive">
                    </cl-image>
                </div>


                <div class="text-center">
                    <h4>{{ product?.brand?.name }}</h4>
                </div>

                <div class="divider "></div>
                <div class="row ">
                    <span>REF: <b class="text-success ">{{ product.sku }}</b></span>
                    <br>
                    <span>Código: <b class="text-warning ">{{ product.barcode }}</b></span>
                </div>

                <div class="divider "></div>
                <div class="row ">
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6">
                        {{ product?.category?.name }}
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-sm-6 text-primary text-right " style="font-size: large ">
                        {{ product.price | currency:'COP':'$':'0.0' }}
                    </div>
                </div>
                <br>
                <div class="row ">
                    <!--<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <button class="btn btn-info btn-block ">Ver</button>
                    </div>-->
                    <div class="col-lg-6 col-md-6 col-sm-6 col-md-6">
                        <input id="qty-{{product._id}}" type="number " class="text-right bg-primary" style="width: 100%; font-size: large; padding-right: 5px" value="1">
                    </div>
                    <div class="col-lg-6 col-md-6 col-xs-6 col-md-6">
                        <button (click)="addCart(product._id)" class="btn btn-success btn-block ">Comprar</button>                        
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row ">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <button (click)="chageFrom(-20) " class="btn btn-block btn-primary ">Anterior</button>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 ">
        <button (click)="chageFrom(20) " class="btn btn-block btn-primary ">Siguientes</button>
    </div>
</div>
<br/>