.fixed_height_500 {
    height: 530px
}

.x_title_product {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px;
    height: 50px;
    font-size: 16px;
    background: #cad0de;
    color: #264073;
}

.catalog-product {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    background: #fff;
    padding: 0;
    overflow: hidden;
}

.name_title {
    font-size: 12px;
}

.catalog-img {
    display: block;
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.name_title {
    word-break: break-all;
}