<app-search-client (clientVerify)="clientVerify($event)"></app-search-client>

<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Pedido ( <b class="text-success">{{ document?.number | number }}</b> ) - {{ document?.client['name'] }}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div *ngIf="formActive">
                    <form [formGroup]="form" (ngSubmit)="save()" data-parsley-validate class="form-horizontal form-label-left" novalidate>
                        <div class="form-group">
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="item form-group " [ngClass]="{ 'bad': !form.get('product').valid && form.get('product').dirty }">
                                    <label class="control-label" for="product">Código de Barra <span class="required">*</span></label>
                                    <input formControlName="product" type="text" required="required" class="form-control" placeholder="0101020" maxlength="15">
                                    <div *ngIf="form.controls['product'].errors?.required" class="alert">Código de Barra requerido</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <div class="item form-group " [ngClass]="{ 'bad': !form.get('quantity').valid && form.get('quantity').dirty }">
                                    <label class="control-label" for="quantity">Cantidad<span class="required">*</span></label>
                                    <input formControlName="quantity" type="number" required="required" class="form-control text-right" placeholder="cantidad" maxlength="2" min="1" max="990">
                                    <div *ngIf="form.controls['quantity'].errors?.required" class="alert">Dato requerido</div>
                                    <div *ngIf="form.controls['quantity'].errors?.min" class="alert">Agregar mínimo 1</div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                                <label class="control-label" for="quantity">&nbsp;</label>
                                <button type="submit" [disabled]="form.invalid" class="btn btn-block btn-success"><i class="fa fa-plus"></i> Agregar</button>
                            </div>
                        </div>
                    </form>
                    <!-- Table row -->
                    <p class="lead">Productos</p>
                    <div class="row">
                        <div class="col-xs-12 table">
                            <table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Img</th>
                                        <th>Código</th>
                                        <th>REF</th>
                                        <th>Descripción</th>
                                        <th>Marca</th>
                                        <th>Precio</th>
                                        <th>Cantidad</th>
                                        <th>Total</th>
                                    </tr>
                                </thead>
                                <tbody [ngClass]="{'hidden': !lodaing}">
                                    <tr>
                                        <td colspan="9" class="text-center"><i class="fa fa-spin fa-4x fa-cog"></i> cargando registros...</td>
                                    </tr>
                                </tbody>
                                <tbody *ngIf="!lodaing" [ngClass]="{'hidden': lodaing}">
                                    <tr *ngFor="let detail of details2; let i=index">
                                        <td>{{ from + i + 1 }}</td>
                                        <td>
                                            <cl-image public-id="{{ detail.product['img'] }}" secure="true" width="100px" height="100px">
                                            </cl-image>
                                        </td>
                                        <td>{{ detail?.product?.barcode }}</td>
                                        <td>{{ detail?.product?.sku }}</td>
                                        <td>{{ detail?.product?.name }}</td>
                                        <td>{{ detail?.product?.brand?.name }}</td>
                                        <td class="text-right">{{ detail.price | number:'0.0-0' }}</td>
                                        <td class="text-right" *ngIf="!document?.status['edit']">
                                            <div *ngIf="document?.status['showStock']">
                                                <ng-template [ngxPermissionsOnly]="['_ADMIN_','_GERENTE_']" [ngxPermissionsOnlyThen]="thenBlock" [ngxPermissionsOnlyElse]="elseBlock"></ng-template>
                                                <ng-template #thenBlock>
                                                    <a [routerLink]="['/doc/pedido',document._id]" class="btn btn-success"><i class="fa fa-arrow-circle-o-right"></i> Actualizar</a>
                                                </ng-template>
                                                <ng-template #elseBlock>
                                                    {{ detail.quantity }}
                                                </ng-template>
                                            </div>
                                        </td>
                                        <td class="text-right">{{ detail.quantity * detail.price | number:'0.0-0' }}</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="row">
                                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 text-primary">
                                    Total: ({{ totalRows | number }})
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button (click)="chageFrom(-15) " class="btn btn-block btn-default ">Anterior</button>
                                </div>
                                <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                                    <button (click)="chageFrom(15) " class="btn btn-block btn-default ">Siguientes</button>
                                </div>
                            </div>
                        </div>
                        <!-- /.col -->
                    </div>
                    <!-- /.row -->
                </div>
            </div>
        </div>
    </div>
</div>