<div class="login">
    <a class="hiddenanchor" id="signup"></a>
    <a class="hiddenanchor" id="signin"></a>

    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <form ngNativeValidate #f="ngForm" (ngSubmit)="login( f )">
                    <h1>Entrar al sistema</h1>
                    <div>
                        <input [ngModel]="email" name="email" type="email" class="form-control" placeholder="coreo@dominio.com" required />
                    </div>
                    <div>
                        <input ngModel name="password" type="password" class="form-control" placeholder="Contraseña" required />
                    </div>
                    <div>
                        <input [(ngModel)]="remember" name="remember" type="checkbox" class="form-control" placeholder="" />
                        <label>Recuerdame</label>
                    </div>
                    <div>
                        <button class="btn btn-success submit" type="submit"><i class="fa fa-key"></i> Ingresar</button>
                        <button class="btn btn-danger" [routerLink]="['/recovery']"><i class="fa fa-alert"></i> Recuperar Contraseña</button>
                    </div>

                    <div class="clearfix "></div>

                    <div class="separator ">
                        <p class="change_link ">Problemas para acceder
                            <a href="mailto:{{ SYSTEM_EMAIL }} " class="btn btn-default "> {{ SYSTEM_EMAIL }} </a>
                        </p>

                        <div class="clearfix "></div>
                        <br />


                    </div>
                </form>
            </section>
        </div>

    </div>
</div>