<!-- top tiles -->
<!-- <div class="row tile_count">
    <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count" *ngFor="let item of TotalGroupBy">
        <span class="count_top"><i class=" {{ item.icon }} "></i> {{ item.name }} </span>
        <div class="count text-{{ item.color }}"> {{ item.total | number:'0.0-0' }} </div>
        <span class="count_bottom"><i class="green"> {{ item.count| number:'0.0-0' }} </i> Total</span>
    </div>
</div> -->
<!-- /top tiles -->

<!-- Documents -->

<div class="x_panel">
    <div class="x_title">
        <h2>Total Pedidos ( {{ total }} )</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <table class="table table-striped table-bordered dt-responsive nowrap hover" cellspacing="0" width="100%">
            <thead>
                <tr class="bg-primary">
                    <th rowspan="2" class="text-center hidden-xs" style="vertical-align: middle;">#</th>
                    <th class="text-center">Pedido</th>
                    <th rowspan="2" class="text-center hidden-xs" style="vertical-align: middle;">RUT</th>
                    <th rowspan="2" class="text-center" style="vertical-align: middle;">Cliente</th>
                    <th class="text-center">Estados</th>
                    <th rowspan="2" class="text-center hidden-xs" style="vertical-align: middle;">Total</th>
                    <th class="text-center hidden-xs">Creado</th>
                </tr>
                <tr class="bg-primary text-center">
                    <th>
                        <div class="input-group">
                            <input type="text" #number class="form-control btn-dark" (change)="getAllDocument('', '', number.value, 0)">
                        </div>
                    </th>
                    <!-- <th>
                        <div class="input-group">
                             <input type="text" #code class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="getAllDocument('code', code.value)" ><i class="fa fa-search"></i></button>
                              </span> 
                        </div>
                    </th> -->
                    <!-- <th>
                        <div class="input-group">
                            <input type="text" #name class="form-control">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button" (click)="getAllDocument('name', name.value)" ><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </th> -->
                    <th>
                        <select #status class="btn btn-dark text-mobil" (change)="getAllDocument(status.value, user.value, 0, 0)">
                            <option value="">Todos</option>
                            <option [value]="sta._id" *ngFor="let sta of estados" >
                               <i class="{{ sta.icon }}"></i> {{ sta.name }}
                            </option>
                        </select>
                    </th>
                    <!-- <th></th> -->
                    <th class="hidden-xs">
                        <select #user class="btn btn-dark" (change)="getAllDocument(status.value, user.value, 0, 0)">
                            <option value="">Todos</option>
                            <option [value]="item._id" *ngFor="let item of users" >
                                {{ item.name }} {{ item.lastname }}
                            </option>
                        </select>
                    </th>
                </tr>
            </thead>
            <tbody [ngClass]="{'hidden': !lodaing}">
                <tr>
                    <td colspan="7" class="text-center"><i class="fa fa-spin fa-4x fa-cog"></i> cargando registros...</td>
                </tr>
            </tbody>
            <tbody *ngIf="!lodaing" [ngClass]="{'hidden': lodaing}">
                <tr *ngFor="let doc of document;let i=index">
                    <td class="hidden-xs">{{ from + i + 1 }}</td>
                    <td class="text-center">
                        <a [routerLink]="['/doc/pedido/', doc._id]" class="btn btn-primary">{{ doc['doc']['number'] }} </a>
                        <span class="hidden-lg hidden-md hidden-sm text-mobil">
                                <b>{{ doc.doc.user.name }}</b>
                            </span>
                    </td>
                    <td class="hidden-xs"> {{ doc['doc']['client']['code'] }} | <span class="badge badge-info">{{ doc['doc']['client']['correlative'] }}</span> </td>
                    <td class="text-mobil">
                        <small> {{ doc['doc']['client']['name'] }} </small><br>
                        <small>{{ doc['doc']['client']['address'] }}</small>
                        <br><label class="label label-primary">{{ doc['doc']['client']['city']['name'] }}, {{ doc['doc']['client']['city']['state']['name'] }} </label>
                        <label class="label label-warning"> {{ doc['doc']['client']['zone']['name'] }} </label>
                    </td>
                    <td class="text-{{ doc['doc']['status']['color'] }} hidden-xs">
                        <i class="{{ doc['doc']['status']['icon'] }}"></i> {{ doc['doc']['status']['name'] }}<br>
                        <span class="text-primary">{{ doc['doc']['date'] | date:'mediumDate' }}</span>
                    </td>
                    <td class="text-right">
                        <span class="hidden-lg hidden-md hidden-sm text-{{ doc['doc']['status']['color'] }}">
                            {{ doc['doc']['status']['name'] }}<br>
                        </span>
                        <b>{{ doc['Total']| number:'0.0-0' }}</b>
                    </td>
                    <td class="hidden-xs">
                        <div class="row">
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <cl-image public-id="{{ doc.doc.user.avatar || 'avatar' }}" secure="true" width="30px" height="30px">
                                </cl-image>
                            </div>
                            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12">
                                {{ doc.doc.user.name }} {{ doc.doc.user.lastname }}
                            </div>
                        </div>


                    </td>
                </tr>
            </tbody>
        </table>
        <div class="row">
            <div class="col-sm-2 col-md-2 col-lg-2 hidden-xs">
                <b class="text-primary" style="font-size: medium">Total ( {{ total }} )</b>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
                <button class="btn btn-block btn-default" (click)="chageFrom(-20) "><i class="fa fa-arrow-circle-left"></i> Anteriro</button>
            </div>
            <div class="col-xs-6 col-sm-5 col-md-5 col-lg-5">
                <button class="btn btn-block btn-default" (click)="chageFrom(20) ">Siguientes <i class="fa fa-arrow-circle-right"></i> </button>
            </div>

        </div>
    </div>
</div>


<!-- /Documents -->
<!-- CHARTS -->
<!-- <div class="x_panel">
    <div class="x_title">
        <h2>Pedidos </h2> &nbsp;
        <select #status class="btn btn-default" (change)="charts( status.value)">
                <option value="0">Todos</option>
                <option [value]="sta.order" *ngFor="let sta of estados" >
                   <i class="{{ sta.icon }}"></i> {{ sta.name }}
                </option>
            </select>
        <ul class="nav navbar-right panel_toolbox">
            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
            </li>
            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                </ul>
            </li>
            <li><a class="close-link"><i class="fa fa-close"></i></a>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div echarts [options]="chartsOptions" class="demo-chart"></div>
    </div>
</div> -->
<!-- /CHARTS -->